body{
    background:#90d6ab;
    font:400 18px bodoni-urw;
    color:#603913;
}
a, a:hover, span.help-block{
    font:400 18px bodoni-urw;
    color:#603913;
}
a:hover:{
    text-decoration:underline;
}
h1, h2, h3, h4, h5, h6{
    font-family:bodoni-urw;
}
#main{
    background:#fff;
    padding:40px 43px 0;
}
.form-search{
    display:none;
}
.single-article-detail .single-article-detail-inner{
    padding:40px 43px 0;
    width:auto;
}

/*Global styling starts*/
.navbar .container, #footer .container, #main .container, .container{
    width:auto;
}
.btn{
    background:#3c170f;
    color:#fff;
    font: 400 22px brandon-grotesque!important;
    background-image:none!important;
    border:none;
}
.btn:hover, .btn:focus{
    background:#3c170f!important;
    color:#fff!important;
}
.teaser3 .btn, .carousel .carousel-caption .btn{
    color:#fff!important;
}
.teaser3 .btn{
    width:75%;
}
#breadcrumb{
    display:none!important;
}
form .help-icon{
    background:url(../../wp-content/uploads/sites/95/2015/09/help-icon.png) 0 5px no-repeat;
    margin-top: 2px;
}
.modern-header{
    border-bottom:0;
}
.span10, .span12{
    width:100%;
    margin:0;
}
p, .single-article-detail p, .form-horizontal .control-label{
    font:400 18px bodoni-urw;
    color:#603913;
    line-height:24px;
}
.single-article-detail p span {
    font-size: 35px;
}
/*Global styling ends*/

/*Navigation styling starts*/
.navbar{
    position: absolute;
    margin-left: 276px;
    margin-top: -87px;
}
.navbar-inner, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > li > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus{
    background:none;
    color:#f69d9f;
}
.navbar .nav > li{
    padding-left: 15px;
    padding-right: 15px;
    width: 104px;
    text-align:center;
    margin: 0 18px;
}
.navbar .nav > li li{
    margin: 0;
}
.navbar .nav > li > a, .navbar .nav > .active > a{
    color:#f69d9f;
    font-size:23px;
    font-family: bodoni-urw;
}
.navbar .nav > .active > a{
    border-bottom:3px solid #f69d9f;
}
.navbar .nav > .active > a, .navbar .nav > li > a{
    padding-left: 0;
    padding-right: 0;
    line-height: 25px;
}
.navbar .nav > li > a:hover, .navbar .nav > .active > a:hover{
    border-bottom:3px solid #f69d9f;
    cursor: pointer;
}
.navbar .nav-collapse ul.nav ul{
    border:none;
    background:#f9f36b;
    margin-left: -18px;
    width: 170px;
}
.navbar .nav-collapse ul.nav ul li {
    border-color:#f69d9f;
    width: auto;
}
.navbar .nav-collapse ul.nav ul li:hover, .navbar .nav-collapse ul.nav ul li:focus {
    background:#f69d9f;
}
.navbar .nav-collapse ul.nav ul li a{
    font:400 18px bodoni-urw;
    color:#603913;
    text-align: left;
    padding-left:22px;
    border-bottom: 0;
}
.navbar .nav-collapse ul.nav ul li a:hover{
    border:none;
    background:none;
    color:#603913;
}
.navbar .nav-collapse ul.nav ul li.menu-item-425 a,
.navbar .nav-collapse ul.nav ul li.menu-item-1406 a{
    background:url(../../wp-content/uploads/sites/95/2015/09/pops.png) 0 13px no-repeat;
    background-size: auto 40%;
}
.navbar .nav-collapse ul.nav ul li.menu-item-88 a{
    background:url(../../wp-content/uploads/sites/95/2015/09/gluten.png) 0 13px no-repeat;
    background-size: auto 40%;
}
.navbar .nav-collapse ul.nav ul li.menu-item-105 a{
    background:url(../../wp-content/uploads/sites/95/2015/09/fat-free.png) 0 13px no-repeat;
    background-size: auto 40%;
}
.navbar .nav-collapse ul.nav ul li.menu-item-104 a{
    background:url(../../wp-content/uploads/sites/95/2015/09/dairy-free.png) 0 13px no-repeat;
    background-size: auto 40%;
}
.navbar .nav-collapse ul.nav ul li.menu-item-106 a{
    background:url(../../wp-content/uploads/sites/95/2015/09/kosher.png) 0 13px no-repeat;
    background-size: auto 40%;
}
.navbar .nav-collapse ul.nav ul li.menu-item-107 a{
    background:url(../../wp-content/uploads/sites/95/2015/09/vegan.png) 0 13px no-repeat;
    background-size: auto 40%;
}
.navbar .nav-collapse ul.nav ul li.menu-item-1035 a{
    background:url(../../wp-content/uploads/sites/95/2015/09/vegiterian.png) 0 13px no-repeat;
    background-size: auto 40%;
}
/*Navigation styling ends*/

.banner .container{
    background:#f9f26b;
}
.social-icons a{
    width:30px;
    padding: 0 5px;
}
.logo{
    margin:32px 0 10px 92px;
}
.modern-header .social-icons{
    margin-top: 36px;
}
.menuWrapper .social-icons{
    margin-right: 32px;
}
.carousel-caption{
    background:rgba(200, 54, 54, 0.5);
    text-align: center;
    min-height: 120px;
}
.container h2, .product-landing .container h3{
    font:400 35px bodoni-urw;
    color:#90d6ab;
    border-bottom: 1px dotted #b5a391;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.carousel-caption h2{
    font-size: 50px;
    color: #fff;
    font-family: bodoni-urw;
    font-weight: 400;
    border-bottom:none;
    padding-bottom:0;
}
.carousel{
    margin-bottom: 35px;
}
.carousel .play{
    display:none;
}
.carousel-indicators{
    right:0;
}
.carousel-indicators li{
    width:14px;
    height:14px;
    border-radius:8px;
    margin: 0 6px;
}
.carousel-indicators li{
    background-color:#fff;
}
.carousel-indicators li.active{
    background-color:#f7f259;
}

/*Homepage spotlight teasers styling starts*/
#main .row.teasers{
    margin-left:0;
}
#main .row.teasers > .span4:first-child{
    margin-left:0;
}
#main .row.teasers .teaser3{
    border:none;
    position:relative;
    overflow: inherit;
}
.teasers .span4{
    width: 32%;
    margin-left: 2%;
}
.teasers .span4 h3{
    font:400 35px bodoni-urw;
    color:#fff;
    height: 92px;
    display: table-cell;
    vertical-align: middle;
    width: 288px;
    line-height: 32px;
}
.teasers .span4 .spotlight-80 img{
    margin-top: 100px;
}
.teasers .span4 .spotlight-80 h3{
    color:#f48261;
    text-align: center;
    position: absolute;
    top: 0;
    width:100%;
    left:0;
    line-height: 40px;
}
.teasers .span4 .spotlight-80 p{
    font:400 18.5px bodoni-urw;
    color:#603913;
    padding: 0 7px 0;
}
.row.teasers .spotlight-62 .caption, .row.teasers .spotlight-82 .caption {
    background:rgba(240, 78, 40, 0.7);
    position:absolute;
    width:96%;
    bottom:0;
    text-align: center;
    min-height: 160px;
}
.row.teasers .spotlight-82 .caption{
    background:rgba(218, 88, 94, 0.7);
}
.row.teasers .spotlight-82 .caption h3{
    padding-left: 45px;
    padding-right: 45px;
}
/*Homepage spotlight teasers styling ends*/

/*Product Module style starts*/
.product-landing .product-container ul li{
    list-style-type:none;
}
.product-landing .span9{
    width:100%;
    margin-left: 0;
}
.product-landing .span9 .teaser7, .teaser7 li.span2 .thumbnail{
    border:none;
}
.teaser7 li.span2 .thumbnail{
    padding-left: 33px;
    padding-right: 32px;
}
.single-product-detail-inner{
    border:none;
    border-radius:0;
    padding:0;
    background:none;
}
.single-product-detail-inner > .pull-left{
    width:38%;
    float: left;
}
.single-product-detail-inner .pull-left img{
    max-width:100%;
}
.single-product-detail-inner .product-description{
    width:62%;
    float:right;
    margin-top: 40px;
}
.product-detail #main{
    background:url(../../wp-content/uploads/sites/95/2015/09/pd-bg.png) 0 0 no-repeat #fff;
        padding: 0 20px 0 14px;
}
.product-description h2{
    color:#fff;
    border-bottom:1px dotted #603913;
}
.product-detail h4{
    font-size: 18px;
    color:#603913;
}
.product-detail .BVRRSummaryContainer{
    margin-bottom: 20px;
}
.product-detail #serving-info, .product-detail .container .productCategoryIcon{
    list-style-type:none;
    margin-left:0;
}
.product-detail .container .productCategoryIcon li{
    display:inline-block;
}
.product-detail .container .productCategoryIcon li img {
    width: 85%;
}
.product-detail .container .nutrition-data  .left, .product-detail .container .nutrition-data  .right{
    float:left;
}
.product-detail .nav-tabs-wrapper ul{
    border:none;
    margin-bottom:0;
}
.product-detail .nav-tabs-wrapper .nav-tabs li{
    border-right: 1px dotted #603913;
    padding: 10px 0 12px;
    text-transform: capitalize;
}
.product-detail .nav-tabs-wrapper .nav-tabs li:last-child{
    border-right: none;
}
.product-detail .nav-tabs-wrapper li a{
    font-size:30px;
    color:#ef9fa0;
}
.product-detail .nav-tabs-wrapper li a, .product-detail .nav-tabs-wrapper li a:focus, .product-detail .nav-tabs-wrapper li a:visited{
    border:none;
    background:none;
}
.product-detail .nav-tabs-wrapper li a:hover{
    background:none;
    border:none;
}
.product-detail .nav-tabs-wrapper li.active a{
    color:#92d5ac;
}
#product .teaser7 li.span2{
    float: left;
    min-height: 238px;
    font: 400 18px bodoni-urw;
    color: #603913;
    margin-bottom: 0;
}
#product .teaser7 li img{
    transition: all 150ms ease-in-out;
}
#product .teaser7 li:hover img{
    transform:scale(1.05);
}
#product .teaser7 li a, #product .teaser7 li a .btn-link{
    font: 400 18px bodoni-urw;
    color: #603913;
}
.product-detail .full-width-section .teaser7{
    border:none;
    border-top:1px dotted #603913;
    border-radius: 0;
}
.product-detail .full-width-section .teaser7 li.span2{
    width: 21%;
}
.description{
    min-height:222px;
}
.description .available-in{
    margin-top:30px;
}
.product-nutrition {
    margin: 30px 0;
}
.product-vitamin {
    padding: 10px 0;
}
/*Product Module style ends*/

#sign-up legend {
    display: block;
}
#signup-form .controls.select-group .select-group-field{
    margin-right:10px;
}

/*Faq styling starts*/
.page-template-ifaqs .faq-main a.q-wrapper, #product p{
    font:400 18px bodoni-urw;
    color:#603913;
}
.page-template-ifaqs .faq-main .innerAnswer{
    font:400 18px bodoni-urw;
    color:#f48261;
    margin-right: 9%;
}
.page-template-ifaqs .faq-main .to-toggle{
    margin-left:0;
    margin-top: 10px;
}
.qa-list .q-icon{
    background-image: url(../../wp-content/uploads/sites/95/2015/09/arrow-style.png);
    background-position: 0 0;
}
.qa-list.active-qa .q-icon{
    background-position: 0 -19px;
}
.faq-main .span10{
    padding:0;
}
.faq-main .innerAnswer a{
    color:#f48261;
    text-decoration:underline;
}
.faq-main .innerAnswer a:hover{
    text-decoration:none;
}
.page-template-ifaqs .faq-main a.q-wrapper, .page-template-ifaqs .faq-main .innerAnswer{
    font-size:19px;
}
/*Faq styling ends*/

.page-id-135 .single-article-detail, .page-id-398 .single-article-detail, .page-id-400 .single-article-detail{
    overflow:hidden;
}
.page-id-398 h2, .page-id-400 h2{
    text-align:center;
}
.page-id-135 .single-article-detail .single-article-detail-inner, .page-id-398 .single-article-detail .single-article-detail-inner, .page-id-400 .single-article-detail-inner{
    float: none;
    overflow: auto;
}
.page-id-135 .wpined-con p{
    overflow: hidden;
    border:1px solid #603913;
}
.wpined-con iframe{
    border:none;
}

/*What's inside style starts*/
#whats-inside{
    position:relative;
}
#whats-inside h2{
    font-size:42px;
    border:none;
    text-align:center;
    margin-top: 18px;
}
#whats-inside h3{
    font:400 25px bodoni-urw;
    color:#f69d9f;
    margin-bottom: 12px;
    line-height: 34px;
}
#whats-inside #block-1 p{
    width:92%;
    margin: 0 auto;
}
#whats-inside #block-2{
    position: absolute;
    width: 386px;
    margin: -240px 0 0 310px;
}
#whats-inside #block-3{
    position: absolute;
    width: 400px;
    margin: 95px 0 0 150px;
}
#whats-inside #block-4{
    position: absolute;
    width: 354px;
    margin: -295px 0 0 0;
    right: 180px;
}
#whats-inside #block-5{
    position: absolute;
    width: 322px;
    margin: 200px 0 0 42px;
}
#whats-inside #block-6{
    width: 400px;
    position: relative;
    margin-top: -250px;
}
#whats-inside #block-7{
    width: 500px;
    position: absolute;
    right: 60px;
    margin-top: -320px;
}
#whats-inside #section-3 .right.positioning{
    margin:-80px 0 0 0;
}
#whats-inside #section-4{
    margin-top:-20px;
    padding: 0 10px 0 42px;
}
#whats-inside #section-5{
    padding: 0 0 0 30px;
}
#whats-inside #section-4 h2.brown{
    font-size:35px;
    color:#603913;
    text-align:left;
    margin-top:0;
}
#whats-inside #section-7 h2.brown{
    font-size:50px;
    color:#603913;
}
#whats-inside #section-5 .left.positioning{
    margin-top: 40px;
}
#whats-inside #section-6 .right{
    position: absolute;
    margin-top: -130px;
}
#whats-inside #section-6 #block-8{
    width:444px;
    margin-top: 50px;
    margin-left: 42px;
}
#whats-inside #section-7{
    width: 92%;
    margin:65px auto 35px;
}
#whats-inside #section-7 #block-9{
    margin-bottom: 45px;
}
#whats-inside .right{
    width: 100%;
    text-align: right;
}
#whats-inside .right.positioning{
    margin: -40px 0 0 0;
}
#whats-inside .left{
    width: 100%;
    text-align: left;
}
#whats-inside .left.positioning{
    margin: -480px 0 0 0;
}
.postid-84 .single-article-detail .single-article-detail-inner{
    padding: 0;
    width: auto;
}
.postid-84 .single-article-detail .single-article-detail-inner > h2{
    display:none;
}
.article-detail #main{
    padding-left: 0;
    padding-right: 0;
}
/*What's inside style ends*/

.site-map #main .container{
    margin-bottom:0;
}
.site-map h3, .site-map h3 a, .site-map h3 a:hover, .site-map h3 a:visited, .site-map h3 a:focus{
    color:#603913;
    font-weight:700;
}
.site-map .inner-container li a, .site-map .inner-container li a:visited, .site-map .inner-container li a:focus{
    color:#603913;
}
.site-map .inner-container li a:hover{
    color:#f69d9f;
    text-decoration:underline;
}
.single-article-detail-inner{
    border:none;
    border-radius:0;
    margin-bottom:0;
}
.single-article-detail #news .news-list figure{display:none;}
.single-article-detail .single-article-detail-inner .news-list{
    margin-left:0;
}
.single-article-detail .single-article-detail-inner .news-list li{
    display: inline-block;
    width: 230px;
    text-align: center;
    vertical-align: top;
    min-height: 180px;
}
.single-article-detail .single-article-detail-inner .news-list li h3{
    font:400 18px bodoni-urw;
    color:#603913
}
.single-article-detail .single-article-detail-inner .news-list li h3 strong{
    font-size: 20px;
}
.single-product-detail-inner .pull-left img{
    margin-top:10px;
}

/*Contact Us styling starts*/
#contact-us .span9{
    margin-left:0;
}
#contact-us .contact-form a, #sign-up #signup-form a{
    color:#f69d9f;
}
#contact-us .row, #product .row, .article-detail .row{
    margin-left:0;
}
legend{
    font:400 30px bodoni-urw;
    color: #90d6ab;
    border-bottom: 1px dotted #b5a391;
    padding-bottom: 12px;
    padding-top:10px;
}
form select{
    background:url(../../wp-content/uploads/sites/95/2015/09/arrow-style.png) 95% 10px no-repeat;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height:20px;
}
input[type="text"], select{
    border:1px solid #777777;
    font-family: bodoni-urw;
}
form .form-asterik{
    color: #603913;
}
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #dbdbdb!important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #c1c1c1!important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #c1c1c1!important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #dbdbdb!important;
}
form .error{
    font-family: bodoni-urw;
}
.form-horizontal .control-group.phonenumber .controls{
    float: left;
    margin-left: 19px;
}
input.btn.submit {
    width: 32%;
    text-transform: uppercase;
}
/*Contact Us styling ends*/

.page-id-37 .container .single-article-detail-inner{
    min-height:750px;
}

/*Footer styling starts*/
#footer{
    border-top:3px solid #f89d9e;
    background: #fff;
    color:#603913;
    font: 400 15px brandon-grotesque;
}
#footer p, #footer a{
    color:#603913;
    font: 400 15px brandon-grotesque
}
#footer li{
    padding-right:0;
}
#footer li:after{
    content:"|";
}
#footer li:last-child:after{
    content:"";
}
#footer a{
    padding: 0 8px;
}
#_bapw-link span{
    color:#603913;
    font: 400 15px brandon-grotesque
}
/*Footer styling ends*/

/*Error page styling**************************************************/
.container.min-height #main {
    padding: 0;
}

.page-id-37 img.attachment-full.wp-post-image{
    margin-bottom:5px;
}

/*.postid-1412 .span11{
    width:100%;
    margin-left:0;
}*/
@media (min-width:1200px){
    .postid-1412 .span11{
        width:908px;
        margin:0 14px;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .postid-1412 .single-article-detail .single-article-detail-inner{
        padding:0;
    }
    .postid-1412 h2,.postid-1412 .span11{
        margin-left:30px;
    }
}
@media (min-width:991px) and (max-width:1025px){
    .postid-1412 .single-article-detail .single-article-detail-inner{
        padding:1%;
    }
}
@media (min-width:320px) and (max-width:767px){
    .postid-1412 .single-article-detail .single-article-detail-inner{
        padding: 40px 43px 0;
    }
}
/*Media Query for Desktop*/
@media (min-width: 1025px) {
    .main-wrapper, .banner .container{
        width:1024px;
    }
    .top-desktop{
        display:none;
    }
    .page-id-135 .single-article-detail-inner.detail-page-video p iframe{
        width:941px!important;
    }
}

/*Media Query for tablet*/
@media (min-width: 768px) and (max-width: 1024px) { 
    a.logo.pull-left{
        float:left;
    }
    .top-desktop{
        display:none;
    }
    .carousel-caption h2{
        font-size: 40px;
    }
    .row.teasers .spotlight-82 .caption h3{
        padding:0;
    }
    .teasers .span4 .spotlight-80{
        height: 533px;
        overflow: auto!important;
        display: block;
        -webkit-overflow-scrolling: touch;
    }
    .teasers .span4 .spotlight-80 img{
        margin-top: 168px;
    }
    #whats-inside #section-6 #block-8{
        width: 374px;
    }
    #whats-inside #block-4{
        right: 75px;
    }
    #whats-inside #block-7{
        right: 10px;
    }
    .single-article-detail .single-article-detail-inner .news-list li{
        width:32%;
    }
    .teaser7 li.span2{
        width:21%;
    }
    .product-detail .span9.full-width-section{
        width:96%;
    }
}

/*Media Query for tablet Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar .nav > li{
        width: 80px;
    }
    .teasers .span4 .spotlight-80{
        height: 403px;
        overflow: auto!important;
    }
    .row.teasers .spotlight-62 .caption, .row.teasers .spotlight-82 .caption{
        width:95%;
    }
    #whats-inside img{
        max-width:50%;
    }
    #whats-inside .right.positioning{
        margin-top:22px;
    }
    #whats-inside #section-1 img, #whats-inside #section-7 img {
        max-width:100%;
    }
    #whats-inside #block-2{
        width: 336px;
        margin: -180px 0 0 210px;
    }
    #whats-inside #block-3{
        width: 240px;
        margin: 95px 0 0 90px;
    }
    #whats-inside #block-4{
        right: -8px;
        margin-top: -170px;
    }
    #whats-inside #section-3 .right.positioning{
        margin-top:0;
    }
    #whats-inside #block-5{
        margin-top:115px;
    }
    #whats-inside #section-4{
        margin-top:10px;
    }
    #whats-inside #block-6{
        width: 315px;
        margin-top: -180px;
    }
    #whats-inside #block-7{
        width:310px;
    }
    #whats-inside #section-6 .right{
        margin-top: -40px;
    }
    #whats-inside #section-6 #block-8{
        width: 314px;
    }
    .navbar .nav > li{
        margin: 0;
    }
    .product-detail .span9.full-width-section{
        width:auto;
    }
}

/*Media Query for Mobile*/
@media (min-width: 320px) and (max-width: 767px) {
    body{
        padding-left:5px;
        padding-right:5px;
    }
    p, .teasers .span4 .spotlight-80 p, .single-article-detail p{
        font-size:16px;
        line-height: 20px;
    }
    .single-article-detail p span {
        font-size: 35px;
    }
    .btn, .carousel .carousel-caption .btn{
        font-size:14px!important;
    }
    .teasers .span4 h3{
        font-size:20px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 116px;
        display: block;
        margin: 0 auto;
        line-height: 22px;
    }
    .teasers .span4 .spotlight-80 h3{
        line-height: 20px;
        margin: 8px 20% 0;
        width: 60%;
    }
    .teasers .span4 .spotlight-80 img{
        margin-top: 60px;
    }
    .teaser3 .btn{
        width:49%;
    }
    #main .row.teasers .teaser3.spotlight-82{
        margin-top:20px;
        margin-bottom:40px;
    }
    .row.teasers .spotlight-62 .caption, .row.teasers .spotlight-82 .caption{
        min-height:116px;
    }
    .banner .container{
        text-align:center;
        padding-bottom: 60px;
    }
    .nav-collapse .nav{
        background: #f9f26b;
    }
    .navbar .nav > li{
        width:auto;
        text-align:left;
    }
    .navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > .active > a:hover, .navbar .nav-collapse ul.nav ul li a{
        border-bottom: 2px solid #f69d9f;
    }
    .navbar .nav > .active > a{
        border-bottom-width:2px;
    }
    .navbar .nav > li:last-child > a{
        border-bottom:none;
    }
    .navbar .nav-collapse ul.nav ul{
        margin-left: 0;
        width: auto;
    }
    .navbar .btn-navbar{
        background-image: url(../../wp-content/uploads/sites/95/2015/09/mobile-menu.png);
        background-size: auto 80%;
        margin-left: 10px;
    }
    .navbar .btn-navbar:hover, .navbar .btn-navbar:focus{
        background-position: 0;
    }
    .nav .arrow{
        background-image: url(../../wp-content/uploads/sites/95/2015/09/arrow-style.png);
    }
    .nav .arrow.hv_active{
        background-position: 66% -11px;
    }
    .menuWrapper{
        position:relative;
        z-index:1;
    }
    .homepage .carousel{
        margin-top:0;
    }
    .homepage .container h2{
        font-size:20px;
        margin-bottom: 0;
    }
    #main{
        padding: 5px;
    }
    .navbar{
        margin-left:0;
        position:relative;
        bottom: 16px;
    }
    .carousel-inner{
        min-height:346px;
    }
    .carousel{
        margin-bottom: 0;
    }
    .carousel-caption{
        min-height: 104px;
    }
    .teasers .span4 .spotlight-80{
        height:auto;
    }
    .teasers .span4{
        width:100%;
        margin-left:0;
    }
    .logo{
        margin-left:0;
        margin-top:22px;
    }
    .container h2{
        text-align: center;
        margin-top: 12px;
    }
    .contact-us-form .span9{
        margin-top: 0;
    }
    .contact-form h2{
        padding-top:0;
    }
    .faq-main .span10{
        padding-left:0;
        padding-right:0;
    }
    .single-article-detail .single-article-detail-inner{
        width: auto;
        padding:0;
    }
    .single-article-detail .single-article-detail-inner .news-list{
        text-align:center;
    }
    .single-article-detail p span{
        font-size:28px;
    }
    #main .row.teasers .teaser3{
        overflow: hidden;
        width: 290px;
        margin: 0 auto;
        border-radius: 0;
    }
    .row.teasers .spotlight-62 .caption, .row.teasers .spotlight-82 .caption{
        width:98%;
    }
    .modern-header{
        background-image:none;
    }
    #whats-inside h2, #sign-up h2 {
        font-size:19px;
        color:#90d6ab;
    }
    #sign-up h2, #contact-us h2{
        color:#90d6ab;
        border-bottom: 1px dotted #b5a391;
        margin-bottom:20px;
    }
    #whats-inside h3{
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 20px;
    }
    #whats-inside #block-2 h3{
        text-align:center;
    }
    #whats-inside img{
        max-width:50%;
    }
    #whats-inside #section-1 img, #whats-inside #section-7 img{
        max-width:100%;
    }
    #whats-inside #block-4{
        width: 50%;
        margin: -295px 0 0 0;
        right: 0;
        position: relative;
        float: right;
    }
    #whats-inside #block-5{
        width: 50%;
        margin: 0;
        position: relative;
    }
    #whats-inside #block-6{
        width: auto;
        margin-top: -250px;
    }
    #whats-inside #block-7{
        width: auto;
        right: 0;
        margin-top: -320px;
    }
    #whats-inside #section-6 #block-8{
        width:auto;
        margin-top: 50px;
    }
    #whats-inside .left.positioning{
        margin: 40px 0 0 0;
    }
    #whats-inside #block-2{
        width: 78%;
        margin: 0 auto;
        position: relative;
    }
    #whats-inside #block-3{
        width: 50%;
        margin: 20% 0 0;
        float: left;
    }
    #whats-inside #section-2{
        margin-top: 70px;
        margin-bottom: 25px;
    }
    #whats-inside #section-3{
        float: left;
    }
    #whats-inside #section-3 .right.positioning{
        margin: -270px 0 0 0;
        position: absolute;
    }
    #whats-inside #section-4 h2.brown{
        float:left;
        font-size: 20px;
        width: 100%;
    }
    #whats-inside #block-6{
        width:50%;
        margin-top: 0;
    }
    #whats-inside #block-7{
        width:50%;
        margin-top: -270px;
        position: relative;
        float: right;
    }
    #whats-inside #section-5 .left.positioning{
        margin-top: 80px;
    }
    #whats-inside #section-6{
        margin-top:30px;
    }
    #whats-inside #section-6 .right{
        margin-top: 100px;
    }
    #whats-inside #section-6 #block-8{
        width: 50%;
        margin-top: 0;
    }
    #whats-inside #section-4{
        overflow: hidden;
        position: relative;
    }
    #whats-inside #section-4 .right{
        position: absolute;
        bottom: 40px;
    }
    #whats-inside #section-7{
        margin-top:15px;
    }
    #whats-inside #section-7 h2.brown{
        font-size:20px;
        margin-top: 0;
    }
    .form-horizontal .controls.extensionInp{
        margin-top:5px;
    }
    .form-horizontal .control-group.phonenumber .controls {
        float: none;
        margin-left: 0px;
    }
    .product-landing .container h3{
        text-align:center;
    }
    #product .teaser7 li a, #product .teaser7 li a .btn-link{
        width:100%;
        text-align:center;
        float:left;
    }
    #product .teaser7 li.span2, .teaser7 li.span2 figure{
        display:block;
        width:100%;
        min-height:0;
    }
    #product .teaser7 li.span2 {
        margin-bottom: 10px;
    }
    .product-detail .nav-tabs-wrapper li a{
        font-size:20px;
    }
    .teaser7 li.span2 a{
        height:auto;
    }
    .teaser7 li.span2 span.btn-link{
        height:auto;
    }
    .product-detail .container h2{
        text-align:left;
        font-size: 25px;
        width: 61%;
        float: right;
    }
    .product-detail .BVRRSummaryContainer{
        display: block;
    }
    .single-product-detail-inner .product-description {
        width:auto;
        float:none;
    }
    .description{
        min-height:0;
        margin-bottom:30px;
    }
    .description, .product-ingredients, .product-nutrition, .product-serving, .product-vitamin, .disclaimer{
        float:left;
    }
    .single-product-detail-inner .product-description{
        margin-top:10px;
    }
    .single-product-detail-inner{
        padding-top:10px;
    }   
    .product-detail #main{
        background-size:115% auto;
        padding: 0 12px;
    }
    .teaser7 li.span2 figure{
        margin-bottom:10px;
    }
    input.btn.submit{
        width:45%;
        margin: 0 auto;
        display: block;
    }
    .page-id-135 .single-article-detail p{
        height:1155px!important;
        overflow:hidden;
    }
    .product-detail .BVRRSummaryContainer{
        margin-bottom: 0;
    }
}

@media (min-width: 361px) and (max-width: 767px) {
    #whats-inside #section-6 .right {
        margin-top: 10px;
    }
}
@media screen and (min-width: 481px){
#birthdayMonth, #birthdayYear,#birthdayDay {min-width: 150px!important;}
}        /**timestamp1516807495**/