/* Custom primary codes

Pink color : #f8b5b5;
Brown color : #411e1e;
link hover color : #a5272f;
Footer color : #411f20

font-family:'brandon-grotesque',sans-serif; 
font-family:'helvetica',sans-serif;
font-weight: 100,300,400,500,700;

*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
}


body .bv-cv2-cleanslate .bv-shared button.bv-read-review:hover,
body .bv-cv2-cleanslate h2 *,
body .bv-cv2-cleanslate .bv-mbox-injection-container span:not(.bv-helper-icon-negative):not(.bv-helper-icon-positive),
body .bv-cv2-cleanslate .bv-subject-info-section *,
body .bv-cv2-cleanslate .bv-shared .bv-content-summary p,
body .bv-cv2-cleanslate .bv-shared .bv-content-data dl dd,
body .bv-cv2-cleanslate .bv-shared .bv-content-item .bv-content-report-btn,
body .bv-cv2-cleanslate .bv-shared .bv-content-item .bv-content-feedback-vote-request,
body .bv-cv2-cleanslate .bv-shared button.bv-write-review,
body .bv-cv2-cleanslate .bv-shared button.bv-read-review,
body .bv-cv2-cleanslate .bv-shared button.bv-ask-question,
body .bv-cv2-cleanslate .bv-shared .bv-button,
body .bv-cv2-cleanslate .bv-shared .bv-section-summary .bv-content-title,
body .bv-cv2-cleanslate .bv-shared .bv-section-summary .bv-section-summary-inline .bv-inline-histogram-ratings .bv-histogram-filter-helper,
body .bv-cv2-cleanslate .bv-shared .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list .bv-secondary-rating-summary-id,
body .bv-cv2-cleanslate .bv-shared .bv-content-title,
body .bv-cv2-cleanslate .bv-shared button.bv-write-review:hover,
body .bv-cv2-cleanslate .bv-shared .bv-summary-bar-minimalist .bv-write-container .bv-submission-button.bv-write-review,
body .bv-cv2-cleanslate .bv-shared .bv-summary-bar-minimalist .bv-read-container .bv-submission-button.bv-write-review,
body .bv-cv2-cleanslate .bv-shared .bv-rating-stars-container,
body .bv-cv2-cleanslate .bv-shared .bv-rating-stars-container:hover,
body .bv-cv2-cleanslate .bv-shared span.bv-content-pagination-pages-current,
body .bv-cv2-cleanslate .bv-shared span.bv-content-pagination-pages-current:hover,
body .bv-cv2-cleanslate h3,
body .bv-cv2-cleanslate .bv-shared .bv-content-data-label-container .bv-content-data-label, .bv-cv2-cleanslate .bv-core-container-111 button.bv-read-review:hover,
#product.tax-product-category .bv-cv2-cleanslate *,
body .bv-cv2-cleanslate .bv-shared .bv-action-bar-header,
body .bv-cv2-cleanslate .bv-shared .bv-action-bar-header,
body .bv-cv2-cleanslate .bv-shared .bv-mbox-breadcrumb,
body .bv-cv2-cleanslate .bv-shared button.bv-write-review:focus,
body .bv-cv2-cleanslate,
body .bv-cv2-cleanslate h1,
body .bv-cv2-cleanslate h2,
body .bv-cv2-cleanslate h3,
body .bv-cv2-cleanslate h4,
body .bv-cv2-cleanslate h5,
body .bv-cv2-cleanslate h6,
body .bv-cv2-cleanslate p,
body .bv-cv2-cleanslate td,
body .bv-cv2-cleanslate dl,
body .bv-cv2-cleanslate tr,
body .bv-cv2-cleanslate dt,
body .bv-cv2-cleanslate ol,
body .bv-cv2-cleanslate form,
body .bv-cv2-cleanslate select.bv-select-cleanslate,
body .bv-cv2-cleanslate option,
body .bv-cv2-cleanslate pre,
body .bv-cv2-cleanslate div,
body .bv-cv2-cleanslate table,
body .bv-cv2-cleanslate th,
body .bv-cv2-cleanslate tbody,
body .bv-cv2-cleanslate tfoot,
body .bv-cv2-cleanslate caption,
body .bv-cv2-cleanslate thead,
body .bv-cv2-cleanslate ul,
body .bv-cv2-cleanslate li,
body .bv-cv2-cleanslate ul li,
body .bv-cv2-cleanslate ol li,
body .bv-cv2-cleanslate .bv-shared ul li,
body .bv-cv2-cleanslate .bv-shared ol li,
body .bv-cv2-cleanslate address,
body .bv-cv2-cleanslate blockquote,
body .bv-cv2-cleanslate dd,
body .bv-cv2-cleanslate fieldset,
body .bv-cv2-cleanslate iframe,
body .bv-cv2-cleanslate strong,
body .bv-cv2-cleanslate legend,
body .bv-cv2-cleanslate em,
body .bv-cv2-cleanslate s,
body .bv-cv2-cleanslate cite,
body .bv-cv2-cleanslate input,
body .bv-cv2-cleanslate sup,
body .bv-cv2-cleanslate label,
body .bv-cv2-cleanslate dfn,
body .bv-cv2-cleanslate object,
body .bv-cv2-cleanslate big,
body .bv-cv2-cleanslate q,
body .bv-cv2-cleanslate font,
body .bv-cv2-cleanslate samp,
body .bv-cv2-cleanslate acronym,
body .bv-cv2-cleanslate small,
body .bv-cv2-cleanslate img,
body .bv-cv2-cleanslate strike,
body .bv-cv2-cleanslate code,
body .bv-cv2-cleanslate sub,
body .bv-cv2-cleanslate ins,
body .bv-cv2-cleanslate textarea,
body .bv-cv2-cleanslate var,
body .bv-cv2-cleanslate a,
body .bv-cv2-cleanslate abbr,
body .bv-cv2-cleanslate applet,
body .bv-cv2-cleanslate del,
body .bv-cv2-cleanslate kbd,
body .bv-cv2-cleanslate tt,
body .bv-cv2-cleanslate b,
body .bv-cv2-cleanslate i,
body .bv-cv2-cleanslate hr,
body .bv-cv2-cleanslate article,
body .bv-cv2-cleanslate aside,
body .bv-cv2-cleanslate dialog,
body .bv-cv2-cleanslate figure,
body .bv-cv2-cleanslate footer,
body .bv-cv2-cleanslate header,
body .bv-cv2-cleanslate hgroup,
body .bv-cv2-cleanslate menu,
body .bv-cv2-cleanslate nav,
body .bv-cv2-cleanslate section,
body .bv-cv2-cleanslate time,
body .bv-cv2-cleanslate mark,
body .bv-cv2-cleanslate audio,
body .bv-cv2-cleanslate video,
body .bv-cv2-cleanslate button,
body .bv-cv2-cleanslate .bv-mbox-inner .bv-submission .bv-fieldset-agreedtotermsandconditions .bv-text-link,
body .bv-cv2-cleanslate .bv-mbox-inner .bv-text-link:visited,
body .bv-cv2-cleanslate .bv-mbox-inner .bv-submission .bv-fieldsets .bv-form-actions .bv-submission-button-submit,
body .bv-cv2-cleanslate .bv-mbox-inner .bv-submission .bv-fieldsets .bv-form-actions .bv-submission-button-submit:hover,
body .bv-cv2-cleanslate .bv-mbox-inner .bv-submission .bv-fieldsets .bv-form-actions .bv-submission-button-submit:focus,
body .bv-cv2-cleanslate .bv-mbox-inner .bv-mbox .bv-mbox-sidebar .bv-submission-sidebar .bv-subject-info-section .bv-subject-info h3 {
    font-family: 'brandon-grotesque', sans-serif !important;
}

#product .bv-cv2-cleanslate .bv-shared button.bv-write-review {
    padding: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

*:focus,
*:active {
    outline: none !important;
}

p:empty {
    display: none;
}
select::-ms-expand {
    display: none;
}

aside[class*='span'] {
    min-height: 0;
}

#left_nav {
    display: none;
}

iframe {
    max-width: 100%;
}

input[type=text],
input[type=email],
select,
textarea {
    font-family: 'brandon-grotesque', sans-serif !important;
}

textarea {
    resize: none;
}

input[type=text],
input[type=email],
select,
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity = 100);
}

input::-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity = 100);
}

input:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity = 100);
}

input:-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity = 100);
}

.teaser3,
.teaser4,
.promo2,
.promo3,
.teaser5,
.teaser7,
.caption {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'brandon-grotesque', sans-serif !important;
    color: #411f20;
}

body,
p,
.teaser3 p,
.teaser4 p,
.promo2 p,
.promo3 p,
.teaser5 p,
.teaser7 p,
.single-product-detail p,
.single-article-detail p,
.single-article-detail ul li,
.single-article-detail ol li,
.modern-footer p,
.modern-footer .footer-banner figcaption,
.help-block,
.carousel-caption p {
    font-family: 'brandon-grotesque', sans-serif !important;
    font-size: 15px;
    line-height: normal;
    color: #411f20;
}

#_bapw-notice {
    top: auto !important;
    left: auto !important;
    right: 20px !important;
    bottom: 20px !important;
    position: fixed !important;
}
#_ev_iframe{
    margin-bottom: -4px !important;
}

.ajax-loader {
    margin: 0 auto;
}

.btn,
.where-to-buy-button a {
    width: auto !important;
    height: 17px;
    padding: 0 10px;
    border: 1px solid #411f20 !important;
    border-radius: 0 !important;
    background: transparent !important;
    display: table;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #411f20 !important;
    margin: 10px auto 0;
    position: relative;
    z-index: 2;
    font-family: 'brandon-grotesque', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.btn.secondry_btn {
    padding: 12px 19px;
    border-width: 2px !important;
    font-size: 21px !important;
    border-color: #f8b5b5 !important;
    letter-spacing: 0.7px;
}

.btn:hover,
.btn:focus,
.where-to-buy-button a:hover,
.where-to-buy-button a:focus {
    border-color: #411e1e !important;
    background: #411e1e !important;
    color: #fff !important;
}

.btn.secondry_btn:hover,
.btn.secondry_btn:focus {
    border-color: #f8b5b5 !important;
    color: #411f20 !important;
    background: #f8b5b5 !important;
}

.btn[disabled] {
    pointer-events: none;
}

.hide_mobile {
    display: none !important;
}

aside.span3 {
    min-height: 0;
}

a {
    color: #411f20;
    font-size: inherit;
    line-height: inherit;
    font-family: 'brandon-grotesque', sans-serif !important;
}

a:hover,
a:focus{
    color: #a5272f;
    text-decoration: none;
}

/* Header.modern-header CSS starts */

body {
    padding: 0;
    font-family: 'brandon-grotesque', sans-serif !important;
    overflow-x: hidden;
    background: #ffffff;
    color: #411f20;
}

#main {
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 100%;
    position: relative;
}

#main,
.single-article-detail {
    min-height: 390px;
}

.error404.site-map .container h2 {
    margin-bottom: 30px;
}

/* Header css */

header#header {
    background: #ffffff;
    border: 0;
}

header#header .container {
    width: 1170px;
    max-width: 100%;
    text-align: center;
}

header#header .menuWrapper {
    position: absolute;
    bottom: -40px;
    left: 50%;
    top: auto;
    z-index: 3;
    transform: translateX(-50%);
    margin-left: 6px;
}

header#header .menuWrapper .social-icons.pull-right {
    margin: 0;
}

header#header .menuWrapper .social-button a,
header#header .banner .menuWrapper .sign-up {
    height: auto !important;
    width: 23px;
    margin: 0 7px !important;
}
header#header .banner .menuWrapper .sign-up{
    float: right;
}

header#header .smartLabelsearch {
    display: none;
}

header#header h1 {
    line-height: 0px !important;
}

header#header a.logo {
    float: none;
    margin: 14px 0 5px 0;
    padding: 0;
    display: inline-block;
}

header#header .navbar-static-top {
    border-top: 2px solid #411f20;
    border-bottom: 2px solid #411f20;
    margin-bottom: 15px;
}

header#header .navbar-inner {
    background: #ffffff;
}

header#header .navbar .btn-navbar {
    cursor: pointer;
    margin: 9px 15px 10px;
    position: relative;
    z-index: 2;
    height: 33px;
    background: url(/wp-content/uploads/sites/61/2018/02/menu-list-icon.png) no-repeat;
}

header.modern-header #left-nav-btn {
    display: none !important;
}

header#header .navbar .navbar-inner .btn-navbar.collapsed ~ .container .form-search {
    display: none;
}

header#header .navbar-inner .form-search {
    position: absolute;
    right: auto;
    left: 0;
    bottom: 0px;
    z-index: 3;
    height: 46px;
    margin: 0;
    width: 100%;
    background: #ffffff;
}

header#header .form-search input[type='text'] {
    width: 100%;
    height: 100%;
    max-width: 280px;
    display: block;
    float: none;
    text-align: left;
    font-size: 16px;
    color: #411f20;
    font-weight: 700;
    padding: 0 0 0 25px;
    margin: 0 auto;
    border: 0;
    border-radius: 0;
    letter-spacing: 2px;
    text-overflow: ellipsis;
}

header#header .form-search input[type='text'].errorInput {
    border: 1px solid #f8b5b5;
    padding: 0 0 0 24px;
}

header#header input[type='text']::-webkit-input-placeholder {
    font-size: 16px;
}

header#header input[type='text']::-moz-placeholder {
    font-size: 16px;
}

header#header input[type='text']:-ms-input-placeholder {
    font-size: 16px;
}

header#header input[type='text']:-moz-placeholder {
    font-size: 16px;
}

header#header .form-search .btn-search {
    left: -133px;
    top: -35px;
    margin: 0;
    position: relative;
    float: none;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #fff url(/wp-content/uploads/sites/61/2018/02/search-icon.png) no-repeat;
}

header#header .menu-header-navigation-container {
    padding-bottom: 42px;
    background: #411f20;
}

header#header .navbar .nav-collapse ul.nav ul {
    background: #5e3e40;
}

header#header .navbar .nav-collapse ul.nav ul a {
    font-weight: 400;
}

header#header .navbar .nav > li > a {
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
    margin: 0;
    padding: 13px 0 10px;
    border-bottom: 2px solid #ffffff;
    font-family: 'brandon-grotesque', sans-serif !important;
    letter-spacing: 2px;
}

header#header .navbar .nav > li li > a {
    border-bottom: 1px solid #f6f4f4;
}

header#header #menu-header-navigation > li:hover > a,
header#header #menu-header-navigation > li:focus > a,
header#header #menu-header-navigation > li.active > a,
header#header #menu-header-navigation .nav > li:hover > a,
header#header #menu-header-navigation .nav > li:focus > a,
header#header #menu-header-navigation .nav > li.active > a {
    background: #f8f4c8;
    color: #411f20;
}


header#header #menu-header-navigation > li:hover > a .arrow,
header#header #menu-header-navigation > li:focus > a .arrow,
header#header #menu-header-navigation > li.active > a .arrow,
header#header #menu-header-navigation .nav > li:hover > a .arrow,
header#header #menu-header-navigation .nav > li:focus > a .arrow,
header#header #menu-header-navigation .nav > li.active > a .arrow{
    background: url(/wp-content/uploads/sites/61/2018/02/menu-arrow-desktop.png) no-repeat right 6px;
}

.navbar .nav-collapse ul.nav ul li {
    border-bottom-color: #f8f7f7;
}

header.modern-header .nav .arrow {
    font-size: 0px;
    text-indent: -999em;
    overflow: hidden;
    background: url(/wp-content/uploads/sites/61/2018/03/menu-arrow-mobile.png) no-repeat right 6px;
    width: 42px;
    height: 18px;
    right: 0;
    top: 24%;
    position: relative;
    float: none;
    display: inline-block;
    margin-right: -42px;
    margin-top: 0;
    background-size: auto;
}

/* Footer CSS */

footer#footer {
    background: #411f20;
    padding: 14px 20px 9px;
}
footer#footer .legal-disclaimer{
    font-size: 12px;
    display: block;
    margin: 15px auto 3px;
    max-width: 720px;
}
.smart-label-footer a {
    background: url(/wp-content/uploads/sites/61/2018/02/smartlabel-mobile.png) no-repeat;
    background-size: contain;
    display: block;
    width: 162px;
    height: 25px;
    text-indent: -999em;
    overflow: hidden;
    margin: 5px auto;
}

footer#footer,
footer#footer a,
footer#footer p {
    font-size: 12px;
    color: #ffffff;
    font-family: 'helvetica', sans-serif !important;
    line-height: normal;
    border: 0;
}

footer#footer p,
footer#footer .footer-banner {
    margin: 0;
}

#_bapw-link #_bapw-icon {
    margin-right: 5px;
    height: 11px;
}

footer#footer li {
    border-right: 1px solid #ffffff;
    padding: 0 5px 0 0;
    margin: 0 5px 10px 0;
    display: inline-block;
    line-height: 0;
}

footer#footer li:last-child {
    border: 0;
}

footer#footer li a {
    font-size: 12px;
    line-height: 10px;
}
.unilever_logo img{
    max-width: 50px;
    margin: 3px 0 0 8px;
}

/* Home Page CSS */

.carousel a.carousel-control,
.carousel a.play {
    display: none;
}

.carousel-indicators {
    top: auto;
    bottom: 15px;
    right: 15px;
    margin: 0 !important;
}

.carousel-indicators li {
    border: 1px solid #411f20;
    background: transparent;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background: #411f20;
}

#home .carousel {
    margin: 0;
}

#home .carousel .carousel-caption {
    padding: 0;
    text-align: center;
}

#home .carousel .carousel-caption h2,
#home .carousel .carousel-caption .description {
    position: relative;
    z-index: 1;
}

#home .carousel .carousel-caption h2,
#home .carousel figure {
    display: none;
}

#home .carousel-caption {
    position: static;
    background: transparent;
}

#home .carousel-caption img {
    margin: 0 auto;
}

#home .carousel-inner {
    margin: 0;
}

#home .carousel-inner .carousel-item-1572 {
    background: #FAF7D8;
}

#home .carousel-inner .carousel-item-1573 {
    background: #B9DBF7;
}

#home .carousel-inner .carousel-item-1574 {
    background: #F8B5B5;
}

#home .carousel .carousel-caption_content strong {
    font-size: 21px;
    display: block;
    color: #411f20;
    margin: 27% 0 0;
    line-height: 20px;
    letter-spacing: 2px;
}

#home .carousel .carousel-caption_content {
    font-size: 15px;
    color: #411f20;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    height: 100%;
}

#home .carousel .carousel-caption_content .btn {
    bottom: 21%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#home article.span12,
#home article.span6 {
    width: 100%;
    margin: 0;
    padding: 0;
}

#home .teaser3 {
    text-align: center;
    padding: 8px 15px 0;
    color: #411f20;
}

#home .teaser3 p {
    font-size: 15px;
    color: #411f20;
    line-height: 18px;
}

#home .spotlight-1577 {
    margin: 0;
    border-bottom: 1px dashed #000000;
}
#home .spotlight-1577 h3{
    margin-bottom: 2px;
}
#home .teaser3 .caption {
    max-width: 360px;
    margin: 0 auto;
}
body .my-modal .close{
    padding: 2px 10px;
}

#home .teaser3 h3 {
    color: #411f20;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
}

#home .spotlight-1578 img,
#home .spotlight-1580 img {
    margin: 7px auto 15px;
}

#home .spotlight-1578 {
    position: relative;
    margin-bottom: 10px;
    padding-top: 30px;
    margin-top: 8px;
}

#home .spotlight-1578 figure a{
    display: inline-block;
}

#home .spotlight-1586 {
    padding: 5px 15px 4px;
}
#home .spotlight-1578 .caption > h3{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
/* Inner Pages */

.single-product-detail-inner,
.single-article-detail-inner {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    border-radius: 0;
    background: transparent;
}

/* PDP Pages */

#product .single-product-detail {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #bfdef8 url(/wp-content/uploads/sites/61/2018/02/pdp-bg.jpg) no-repeat;
}

#product .single-product-detail-inner {
    background: transparent;
}

#product .single-product-detail-inner figure {
    padding: 15px 0 2px;
    float: left;
    width: 100%;
}

#product .single-product-detail-inner figure img {
    display: block;
    margin: 0 auto;
    max-height: 163px;
}

#product .single-product-detail-inner h2 {
    color: #411f20;
    font-size: 21px;
    line-height: normal;
    letter-spacing: 2px;
}

#product .teaser7 .thumbnails {
    margin: 37px 0 0;
}
.product-vitamin {
    margin: 10px 0 0;
}
#product .disclaimer {
    font-size: 12px;
    padding-top: 5px;
}

#product .product-description {
    padding: 0 15px;
}

#product #BVRRSummaryContainer {
    margin: 3px 0;
}

.productCategoryIcon {
    margin: 9px auto 6px;
    padding: 0;
    display: table;
    list-style: none;
}

.productCategoryIcon li {
    list-style: none;
    display: inline-block;
    margin: 0 2px;
    width: 12px;
    line-height: 10px;
}
#product .pdp-recipe {
    color: #411f20;
    font-size: 15px;
    margin: 8px 0 10px;
    line-height: 12px;
}
.productCategoryIcon li.pdp-icons-divider {
    font-size: 15px;
    width: auto;
    color: #411f20;
    border-left: 1px solid #411f20;
    padding: 0 0 0 8px;
    margin-left: 8px;
    line-height: 12px;
    float: none;
}
.productCategoryIcon li.pdp-icons-divider:first-child{
    border:0;
    padding-left: 0;
}

#product .buy-wrapper .smartLabelData {
    line-height: normal;
    height: auto;
    margin: 8px 0 0;
}

.single-product-rating-reviews {
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    padding: 23px 15px 5px;
}

.single-product-rating-reviews strong {
    font-size: 21px;
    font-weight: bold;
}

.product-nutrition,
.product-contain {
    margin: 20px 0;
}

.product-serving table {
    margin: -10px -15px 0;
    width: calc(100% + 30px);
    color: #411f20;
    max-width: none;
}

.product-serving table td {
    padding: 0 15px;
}

.product-serving table td:nth-child(odd) {
    text-align: left;
}

.product-serving table td:nth-child(even) {
    text-align: right;
}

.product-serving table td.nutrition-daily-value {
    padding-left: 25px;
}

.nav-tabs-wrapper .nav-tabs {
    border: 2px solid #411f20;
    border-left-width: 0;
    border-right-width: 0;
    margin: 20px 0 0 0;
    padding: 0;
}

.nav-tabs-wrapper .nav-tabs li {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    margin: 0;
    height: 43px;
    position: relative;
}

.nav-tabs-wrapper .nav-tabs li:first-child {
    border-right: 2px solid #411f20;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs-wrapper .nav-tabs > .active > a,
.nav-tabs-wrapper .nav-tabs > .active > a:hover,
.nav-tabs-wrapper .nav-tabs > .active > a:focus {
    color: #411f20;
    background: transparent;
    border: 0;
    padding: 12px 0px 11px;
    line-height: normal;
    border-radius: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-transform: uppercase;
}

.nav-tabs > li > a:after {
    content: '';
    height: 43px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
}

.nav-tabs-wrapper .nav-tabs li:first-child.active,
.nav-tabs-wrapper .nav-tabs li:first-child a:hover {
    background: #f8b5b5;
}

.nav-tabs-wrapper .nav-tabs li:last-child.active,
.nav-tabs-wrapper .nav-tabs li:last-child a:hover {
    background: #c3e1c3;
}

#product .teaser7 .thumbnails li {
    display: block;
    float: left;
    width: 50%;
}

#product .teaser7 .thumbnails li:nth-child(2n + 1) {
    clear: left;
}

#product .teaser7 .BVRRInlineRating {
    display: inline;
}

#product .teaser7 .thumbnails li .thumbnail {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow: hidden;
}

#product .teaser7 .thumbnails li .thumbnail a {
    height: auto;
    text-align: center;
}

#product .teaser7 .thumbnails li .thumbnail figure {
    margin: 0 auto;
    display: block;
    text-align: center;
    float: none;
}

#product .teaser7 .thumbnails li .thumbnail .btn-link {
    font-size: 14px;
    color: #411f20;
    font-weight: 700;
    height: auto;
    padding: 2px 20px 0;
    display: block;
    font-family: 'brandon-grotesque',sans-serif !important;
}

#product .teaser7 .thumbnails li .thumbnail a:hover .btn-link {
    color: #a5272f;
}

#product #olapic_specific_widget {
    margin: 3px 25px 16px;
}

#breadcrumb {
    display: none !important;
}

.span12,
.full-width-section {
    width: 100%;
}

/* Article Details */

#article.postid-84 #breadcrumb {
    display: none !important;
}

#article.postid-84 #main .container .span12 figure {
    background: #B9DBF7;
    margin-bottom: 15px;
}

#article.postid-84 #main .container .single-article-detail-inner {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
}

#article.postid-84 #main .container .single-article-detail-inner > h2 {
    display: none;
}

#article.postid-84 #main .container .single-article-detail figure img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

#article.postid-84 #main .container .promo-banner {
    position: relative;
    background: #B9DBF7;
    display: inline-block;
    width: 100%;
    margin: 0;
}

#article.postid-84 #main .container .promo-banner img {
    margin: 0 auto;
}

#article.postid-84 #main .container .promo-banner .promo-text {
    font-size: 21px;
    line-height: 21px;
    font-family: 'brandon-grotesque', sans-serif !important;
    color: #411f20;
    top: 25%;
    position: absolute;
    display: block;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
}

div#whats-inside .section {
    max-width: 882px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
    width: 100%;
}

div#whats-inside h3 {
    font-size: 21px;
    line-height: 24px;
    font-family: 'brandon-grotesque', sans-serif !important;
    color: #411f20;
    margin: 0 auto 10px;
    max-width: 500px;
    letter-spacing: 2px;
}

div#whats-inside .copy,
div#whats-inside .copy p {
    color: #411f20;
    font-size: 15px;
    line-height: 18px;
}


div#whats-inside h3 + .copy,
div#whats-inside h3 + p {
    margin-bottom: 19px;
}

div#whats-inside #block-4 h3 + p{
    margin-bottom: 9px;
}

#article.postid-84 #main .container {
    padding: 0;
    width: 100%;
}

/* FAQ Page */

#main .container {
    padding: 0 !important;
    width: 100%;
}

#main > .container .span10 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.faq-cont_container .wpined-con {
    display: block;
    position: relative;
}

.faq-cont_container .faq-cont,
.container_section {
    max-width: 882px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

#breadcrumb {
    display: none !important;
}

.page-template .container h2,
.page-template-default .container h2,
.post-template-default .container h2,
#search_result #main .container article.search-results h2,
.tax-product-category .container h3,
.error404 .container h2 {
    font-family: 'brandon-grotesque', sans-serif !important;
    font-size: 21px;
    color: #411f20;
    display: inline-block;
    margin: 0 0 35px;
    padding: 72px 0 0 0;
    height: 111px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

.page-template .container h2:before,
.page-template-default .container h2:before,
.post-template-default .container h2:before,
#search_result #main .container article.search-results h2:before,
.tax-product-category .container h3:before,
.error404 .container h2:before {
    content: '';
    width: 100%;
    height: 111px;
    background: #f8b5b5;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-template .container h2:after,
.page-template-default .container h2:after,
.post-template-default .container h2:after,
#search_result #main .container article.search-results h2:after,
.tax-product-category .container h3:after,
.error404 .container h2:after {
    background-image: url(/wp-content/uploads/sites/61/2018/03/minibloom-L-1.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    width: 60px;
    height: 55px;
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0 auto;
    top: 15px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
}

.faq-cont .faq-ques,
.faq-cont .faq-info,
.container_section_heading,
.container_section_content {
    color: #411f20;
    font-size: 15px;
    font-family: 'brandon-grotesque', sans-serif !important;
}

.faq-cont .faq-ques,
.container_section_heading {
    margin-bottom: 10px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.faq-cont .faq-info,
.container_section_content {
    border-bottom: 1px dashed #000;
    margin-bottom: 10px;
    display: block;
    line-height: normal;
    padding: 0 15px 15px;
}

.faq-cont .faq-info.last-child,
.container_section_content.last-child {
    border-bottom: 0;
    padding-bottom: 19px;
}

.faq-cont p {
    margin-bottom: 0;
}

.list-wrapper {
    display: none;
}

.single-article-detail .i-wrapper {
    margin: 0;
}

#sign-up #main .span9,
#contact-us #main .span9,
.tax-product-category #main .span9,
#search_result #main .span9 {
    width: 100%;
    float: none;
    margin-top: 0;
}

#sign-up .contact-form,
#contact-us .contact-form {
    text-align: center;
}

#contact-us.page-template .container h2:before {
    background-color: #b9dbf7;
}

#contact-us.page-template .container h2:after {
    background-color: #b9dbf7;
    background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-mint-left-1.png);
}

.contact-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 0;
    border: 2px solid #411f20;
    background: url(/wp-content/uploads/sites/61/2018/02/select-arrow.png) no-repeat;
    background-position: calc(100% - 7px) 10px;
    height: 34px;
    width: 100%;
    padding: 0 40px 0 10px;
    font-size: 16px;
    font-family: 'brandon-grotesque',sans-serif !important;
    box-sizing: border-box;
    color: #411f20;
    background-size: 15px;
}

.label-important, .badge-important {
    font-size: 15px;
    padding: 2px 0 0;
    font-family: 'brandon-grotesque',sans-serif !important;
    background-color: transparent;
    color: red;
    font-weight: 400;
    margin: 0 !important;
    white-space: normal;
    vertical-align: top;
    display: block;
    text-align: left;
}

form#contactform {
    display: none;
}

form#contactform, #signup-form {
    margin: 0 auto;
    padding: 0;
}

.contact-form .control-label {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 1px;
    letter-spacing: .25px;
    color: #411f20;
    padding: 0;
}

form .form-asterik {
    color: #411f20;
}

.contact-form .control-group .controls {
    margin-left: 0;
    clear: both;
    display: inline-block;
    width: 100%;
    min-height: 37px;
    text-align: left;
}

.contact-form .control-group.full-width .controls {
    text-align: center;
}

.contact-form fieldset .control-group {
    margin: 0 0 7px;
    display: block;
    width: 100%;
    float: left;
    padding: 0 15px;
}

.contact-form .control-group {
    margin: 0;
}

.contact-form fieldset .control-group.full-width:nth-child(odd),
.contact-form fieldset .control-group.full-width:nth-child(even) {
    width: 100%;
}

.contact-form fieldset .control-group .select-group-field {
    margin-bottom: 7px;
    display: inline-block;
    width: 100%;
}

.contact-form fieldset .control-group .select-group-field select {
    width: 100%;
}

.contact-form fieldset .control-group .select-group-field:nth-child(3) {
    margin-bottom: 0;
}

.contact-form fieldset .control-group label[for='languagePreference'] {
    text-align: center;
}

.contact-form fieldset .control-group.full-width .controls {
    text-align: center;
}

.contact-form fieldset .control-group.full-width .controls {
    min-height: 59px;
}

.contact-form fieldset input {
    font-family: 'brandon-grotesque',sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    background: none;
    border: 2px solid #411f20;
    border-radius: 0;
    height: 34px;
    padding: 0 10px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: normal;
    box-sizing: border-box;
    color: #411f20;
}

textarea:focus, input[type='text']:focus, input[type='password']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='date']:focus, input[type='month']:focus, input[type='time']:focus, input[type='week']:focus, input[type='number']:focus, input[type='email']:focus, input[type='url']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='color']:focus, .uneditable-input:focus {
    border-color: #411f20;
}

.contact-form fieldset .control-group.extra-gap:nth-child(odd),
.contact-form fieldset .control-group.extra-gap:nth-child(even) {
    padding-top: 7px;
}

.form-horizontal .control-label {
    white-space: nowrap;
}

.contact-form .help-icon {
    margin-left: -61px;
    margin-top: 47px;
    outline: none;
    background: url(/wp-content/uploads/sites/61/2018/03/Talenti_IconQuestion.png) no-repeat;
    width: 31px;
    height: 32px;
}

.contact-form .tooltip {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.contact-form .tooltip-inner,
.contact-form .toolTipmageUpload .tooltip .tooltip-inner {
    background-color: #411f20;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #411f20;
}

.radio input[type='radio'] {
    width: 29px;
    height: 29px;
    padding: 0;
    border-radius: 50%;
    outline: none;
    margin: 0 10px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(/wp-content/uploads/sites/61/2018/02/radio.png) no-repeat;
    border: 0;
}

.checkbox input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio input[type='radio']:checked {
    background: url(/wp-content/uploads/sites/61/2018/02/radio-checked.png) no-repeat;
    border: 0;
}

.controls label.radio,
.controls > .radio:first-child {
    font-family: 'brandon-grotesque',sans-serif !important;
    font-size: 15px;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}

.contact-form #Comments {
    color: #411f20;
    width: 100%;
    display: block;
    height: 165px;
    background: transparent;
    border: 2px solid #411f20;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px 20px;
}

.contact-form .form-horizontal .help-block {
    display: block;
    margin: 6px 0 0;
}

.form-horizontal .help-block,
.form-horizontal .help-block a {
    font-family: 'brandon-grotesque',sans-serif !important;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 0;
}

.help-block + label + label,
.help-block + label, label[for='newsletter'],
label[for='subscriptionnewsletter'] {
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 12px;
}

.form-horizontal .g-recaptcha > div {
    margin: 0 auto;
}

.form-horizontal .g-recaptcha > div > div {
    transform: scale(0.9);
    transform-origin: center;
}

body label[for='subscriptionnewsletter'] {
    font-weight: normal;
}

.control-group input[type=checkbox] {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 9px 5px 0 0;
    vertical-align: top;
    -webkit-appearance: checkbox;
    -ms-appearance: checkbox;
    -moz-appearance: checkbox;
    border: none;
    vertical-align: top;
}

.contact-form label[for=brand] {
    font-weight: normal;
}

.contact-form label {
    font-family: 'brandon-grotesque',sans-serif !important;
    line-height: normal;
}

.contact-form .btn.submit {
    background: #411f20 !important;
    color: #fff !important;
    font-size: 12px !important;
    padding: 3px 11px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    display: block;
    height: auto !important;
    margin: 12px auto 15px;
    letter-spacing: .25px;
}

.contact-form fieldset:last-of-type .control-group:first-child legend {
    display: block;
    margin-top: 6px !important;
}

.form-horizontal .control-group:last-of-type {
    margin-bottom: 0;
}

.sign-up-header h2:before {
    background: url(/wp-content/uploads/sites/171/2017/09/thanks-header-bg.png) no-repeat;
    background-position: center 5px;
    content: '';
    width: 250px;
    position: relative;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    height: 73px;
}

.sign-up-header h2:after {
    background: transparent;
}

p.sigup-desc {
    max-width: 1030px;
    width: calc(100% - 80px);
    display: block;
    margin: 54px auto 20px;
}

.contact-form p.sigup-desc + p {
    max-width: 1030px;
    width: calc(100% - 80px);
    display: block;
    margin: 0 auto;
}

#sign-up .span3,
#contact-us .span3 {
    display: none;
}

#contact-us legend,
#sign-up legend {
    border-bottom: 0;
    border-top: 1px dashed #000000;
    padding: 7px 15px 1px;
    margin: 0;
    font-size: 18px;
    color: #411f20;
    letter-spacing: 2px;
}

#contact-us p,
#sign-up p {
    padding: 0 15px;
    font-size: 15px;
}
#sign-up.page-template .container h2,
#contact-us.page-template .container h2 {
    margin: 0 0 10px;
}
#sign-up.page-template .container h2:not(.sign_up_heading),
#contact-us.page-template .container h2:not(.contact_us_heading){
    display: none;
}
#sign-up .required_text,
#contact-us .required_text {
    display: none;
}

/* Ingredient search */

.extra_gap {
    display: block;
}

.postid-1663 .container h2:before {
    background-color: #b9dbf7;
}

/* PLP Page */
#product.tax-product-category .container h3 {
    margin: 0;
}

#product.tax-product-category .container h3:before {
    background-color: #faf7d8;
}
#product .nav-tabs-wrapper > h4{
    display: none;
}

#product.tax-product-category .container h3:after {
    background-color: #faf7d8;
    background-size: 58px;
    background-image: url(/wp-content/uploads/sites/61/2018/03/lemonminibloom-R-1.png);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#product.tax-product-category .teaser7 .thumbnails {
    margin-top: 15px;
}

#product.tax-product-category .teaser7 li.span2 figure img {
    max-width: 88px;
    width: 100%;
}

#product.tax-product-category .teaser7 .thumbnails li .thumbnail .btn-link {
    font-size: 15px;
    margin-top: 11px;
    line-height: 17px;
    letter-spacing: .25px;
}

#product.tax-product-category .teaser7 .thumbnails li {
    margin-bottom: 11px;
}
body .social-icons{
    display: none;
}
.page-id-135 iframe{
    max-width: 1170px;
    margin:0 auto;
    width: 100%;
    display: block;
}
#product .single-product-detail-inner .social-icons{
    margin: -3px auto 13px;
    float: none;
    display: table;
}
#product .single-product-detail-inner .social-icons a,
#product .single-product-detail-inner .social-button .social-twitter,
#product .single-product-detail-inner .social-button .social-facebook .fb_iframe_widget{
    height: auto !important;
    margin-bottom: 0 !important;
}
#product .single-product-detail-inner .social-icons a:not(.social-facebook) {
    float: none;
}
#product .single-product-detail-inner .social-icons *{
    vertical-align: top !important;
}
#product .single-product-detail-inner .social-icons iframe{
    margin-left:1px;
}
/* Search page CSS */

#search_result #main .container article.search-results .search-list h2 {
    height: auto;
    padding: 0;
    line-height: normal;
    margin-bottom: 2px;    
    font-size: 15px;
    letter-spacing: 0;
}

#search_result #main .container article.search-results .search-list h2:after,
#search_result #main .container article.search-results .search-list h2:before {
    display: none;
}

.pagination {
    margin: 15px 0;
}

.pagination .prev,
.pagination .next {
    display: block;
}

#search_result #main .container article.search-results {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    text-align: center;
}

#search_result .thumbnail figure img {
    max-width: 88px;
    width: 100%;
}

article.search-results h2,
article.search-results p,
article.search-results h3,
article.search-results span {
    padding: 0;
}

#search_result #main .container article.search-results > h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

#search_result #main .container article.search-results h2 + p {
    margin-bottom: 3px;
    font-size: 18px;
}

#search_result #main .container article.search-results h3 {
    margin-bottom: 3px;
    font-size: 15px;
    letter-spacing: 0;
}

#search_result article.search-results .search-list {
    margin: 0;
}

#search_result .thumbnails {
    border-top: 1px solid #411f20;
    margin-top: 14px;
}

#search_result .thumbnails li {
    margin-bottom: 0;
    padding: 15px 0 0 0;
    width: 100%;
    float: none;
    border-bottom: 1px solid #411f20;
}

#search_result .search-list .thumbnails .span3 .thumbnail {
    border: 0;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#search_result .thumbnails .span3 figure {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#search_result .thumbnails .btn-link {
    text-align: center;
    margin: 0;
    padding: 10px 20px 10px;
    min-height: 0;
    font-size: 14px;
    line-height: normal;
    color: #411f20;
    font-weight: 700;
    display: block;
    font-family: 'brandon-grotesque',sans-serif !important;
}

#search_result .article-item .thumbnails .btn-link {
    margin-top: -5px;
    padding-top: 0;
}

#search_result .thumbnails .BVRRInlineRating {
    display: block;
}

#search_result .thumbnails li .thumbnail a {
    min-height: 0;
}

#search_result .thumbnails li .thumbnail a:hover .btn-link {
    color: #a5272f;
}

#search_result .search-list a.pull-right {
    margin-right: 10px;
    float: none;
    margin: 15px auto 9px;
}

/* error page CSS */
.error404 .single-article-detail-inner {
    width: 882px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    float: none;
    padding: 0 15px;
}

/* where to buy*/

.page-id-135 .container h2:before {
    background-color: #c3e1c3;
}

.page-id-135 .container h2:after {
    background-size: 60px;
    background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-chococarm-L-1.png);
}

/* Gallery */

.postid-1412 .container h2:before {
    background-color: #b9dbf7;
}

.postid-1412 .container h2:after {
    background-size: 60px;
    background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-3brand-3-l-1.png);
}

.postid-1412 .single-article-detail-inner {
    padding: 0 15px;
}

/* sitemap */

.site-map .container h2 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.site-map .container h2:before {
    background-color: #c3e1c3;
}

.site-map .container h2:after {
    background-size: 60px;
    background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-ccc-left-1.png);
}

.site-map .inner-container {
    margin-top: 8px;
    padding: 0 15px 8px;
    text-align: center;
}
.site-map ul ul{
    margin-left:0;
}
.site-map-wrapper h3,
.site-map-wrapper h3 a {
    font-size: 21px;
    line-height: normal;
    color: #411f20;
    margin-bottom: 7px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.site-map-wrapper li{
    display: table;
    margin: 0 auto;
}
.site-map-wrapper li a {
    display: block;
    font-size: 15px;
    line-height: normal;
    color: #411f20;
    line-height: 18px;
}

.site-map-wrapper li:not(.menu-item-144) a:first-letter{
    text-transform:uppercase
}
.site-map-wrapper li:not(.menu-item-144) a{
    text-transform:lowercase;
}
.site-map-wrapper li.menu-item-has-children:not(.menu-item-903) > a{
    margin-top: 14px;
}
.site-map-wrapper li.menu-item-has-children > a{
    text-transform:uppercase;
    font-weight: 700;
}

.site-map-wrapper li a:hover {
    color: #a5272f;
}


.back_home {
    margin-top: 20px;
    display: block;
    font-weight: 700;
}


/* Start Amount per serving css */
.single-product-rating-reviews .product-serving strong{
    font-size: 15px;
    text-align: left;
    display: block;
}
/* End Amount per serving css */

/* Responsive CSS */
@media screen and (max-width: 320px) {
    #product #BVRRSummaryContainer {
        margin-right:-11px;
        margin-left:-11px;
    }
    .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs-wrapper .nav-tabs > .active > a, .nav-tabs-wrapper .nav-tabs > .active > a:hover, .nav-tabs-wrapper .nav-tabs > .active > a:focus{
        padding: 14px 0px 13px;
        font-size: 12px;
    }
}
@media screen and (max-width: 375px) {
    .product-serving table td {
        padding: 0 4px;
    }
    .product-serving table {
        margin: -10px -4px 0;
        width: calc(100% + 8px);
    }
    .product-serving table td.nutrition-daily-value {
        padding-left: 15px;
    }
}
@media screen and (min-width: 768px) {
    .hide_mobile {
        display: block !important;
    }

    .visible_mobile {
        display: none !important;
    }
    
    .unilever_logo img{
        max-width: 53px;
        margin: 11px 0 0 10px;
    }
    .smart-label-footer.hide_mobile{
        display: inline-block !important;
    }
    .footer_sections{
        display: table;
        margin: 0 auto;
    }
    
    #main,
    .single-article-detail {
        min-height: 660px;
    }
    .product-serving table {
        margin: 12px -15px 0;
    }

    .btn,
    .where-to-buy-button a {
        margin: 0 auto;
        width: auto !important;
        height: 33px;
        padding: 4px 10px;
        font-size: 18px !important;
        border: 2px solid #411f20 !important;
    }

    .btn.secondry_btn {
        padding: 28px 27px;
        font-size: 35px !important;
        letter-spacing: 2px;
        border-width: 4px !important;
    }

    body,
    p,
    .teaser3 p,
    .teaser4 p,
    .promo2 p,
    .promo3 p,
    .teaser5 p,
    .teaser7 p,
    .single-product-detail p,
    .single-article-detail p,
    .single-article-detail ul li,
    .single-article-detail ol li,
    .modern-footer p,
    .modern-footer .footer-banner figcaption,
    .help-block,
    .carousel-caption p {
        font-size: 24px;
    }

    header#header .navbar-static-top {
        margin-bottom: 30px;
    }

    header#header .menuWrapper {
        top: 34px;
        left: 20px;
        bottom: auto;
        margin: 0;
        transform: translateX(0);
    }

    header#header .menuWrapper .social-button a,
    header#header .banner .menuWrapper .sign-up {
        width: 31px;
        margin: 0 17px 0 0 !important;
    }

    #main > .container .span10 {
        width: calc(100% - 20px);
    }

    header#header a.logo {
        margin: 30px 0 20px 0;
    }

    header#header .navbar-inner .form-search {
        position: absolute;
        top: -185px;
        right: 20px;
        left: auto;
        width: 270px;
        border: 2px solid #411f20;
        height: 51px;
    }

    header#header .form-search .btn-search {
        left: auto;
        right: 10px;
        margin-right: 0;
        position: absolute;
        top: 12px;
    }

    header#header .navbar .navbar-inner .btn-navbar.collapsed ~ .container .form-search {
        display: block;
    }

    header#header .form-search input[type='text'] {
        padding: 0 33px 0 15px;
        width: 100%;
        text-align: left;
        font-size: 18px;
        color: #acacac;
        font-weight: 400;
        letter-spacing: 0;
    }

    header#header .form-search input[type='text'].errorInput {
        padding: 0 32px 0 14px;
    }

    header#header input[type='text']::-webkit-input-placeholder {
        font-size: 18px;
    }

    header#header input[type='text']::-moz-placeholder {
        font-size: 18px;
    }

    header#header input[type='text']:-ms-input-placeholder {
        font-size: 18px;
    }

    header#header input[type='text']:-moz-placeholder {
        font-size: 18px;
    }

    header#header .menu-header-navigation-container {
        background: #ffffff;
        padding-bottom: 0;
    }

    header#header .navbar .nav-collapse ul.nav ul {
        text-align: center;
        border: 0;
        border-right: 2px solid #472628;
        border-left: 2px solid #472628;
        width: 100%;
        background: #5e3e40;
    }

    header#header .navbar .nav-collapse ul.nav ul a {
        font-weight: 700;
    }

    header#header .navbar .nav > li li > a {
        border-bottom: 0;
    }

    header#header .navbar .nav > li > a {
        color: #411f20;
        font-size: 16px;
        border: 0;
        padding: 15px 12px 14px;
        letter-spacing: 0.25px;
    }

    header#header .navbar .nav > li {
        float: none;
        display: inline-block;
        margin: 0 12px 0 13px;
        position: relative;
    }

    header#header .navbar .nav-collapse ul.nav ul li {
        width: 100%;
        margin: 0;
    }

    header#header .navbar .nav-collapse ul.nav ul li a {
        color: #ffffff;
        font-size: 16px;
        padding: 10px;
    }

    header#header #menu-header-navigation > li:hover > a,
    header#header #menu-header-navigation > li:focus > a,
    header#header #menu-header-navigation > li.active > a {
        color: #ffffff;
        background: #411f20;
    }

    header#header #menu-header-navigation > li:hover > a .arrow,
    header#header #menu-header-navigation > li:focus > a .arrow,
    header#header #menu-header-navigation > li.active > a .arrow {
        background: url(/wp-content/uploads/sites/61/2018/02/menu-arrow.png) no-repeat right top;
        background-size: 16px;
    }

    header#header .navbar .nav-collapse > div > ul.nav {
        width: 100%;
        text-align: center;
        float: none;
        margin: 0;
        display: inline-block;
    }

    header.modern-header .nav .top-desktop,
    header.modern-header .nav .arrow-desktop {
        display: none;
    }

    header.modern-header .nav .arrow {
        width: 17px;
        top: 6px;
        margin-left: 5px;
        margin-right: 0;
        background: url(/wp-content/uploads/sites/61/2018/02/menu-arrow-desktop.png) no-repeat;
    }

    header#header .navbar .nav-collapse ul.nav ul li a .arrow {
        top: 2px;
        width: 9px;
        float: right;
        margin: 0;
        background: url(/wp-content/uploads/sites/61/2018/02/menu-arrow-left.png) no-repeat;
    }

    .navbar .nav-collapse ul.nav ul ul {
        margin-top: -40px;
    }

    footer#footer li a {
        font-size: 16px;
        line-height: 14px;
    }

    footer#footer {
        padding: 30px 20px 30px;
    }

    footer#footer ul {
        margin: 0;
        padding: 0;
    }

    footer#footer li {
        padding: 0 10px 0 0;
        margin: 0 10px 8px 0;
    }
    footer#footer .legal-disclaimer{
        margin-bottom: -4px;
        font-size: 14px;
    }

    footer#footer li.hide_mobile {
        display: inline-block !important;
    }

    #_bapw-link #_bapw-icon {
        height: 18px;
        margin-top: -2px;
    }
    
    body .my-modal .close{
        padding: 5px 10px;
    }

    .smart-label-footer a {
        width: 110px;
        height: 66px;
        margin: 8px auto 0;
        background: url(/wp-content/uploads/sites/61/2018/03/smartlabel.png) no-repeat;
    }

    footer#footer,
    footer#footer a,
    footer#footer p {
        font-size: 16px;
    }

    body:not(#home):not(#product):not(.postid-84) #main .container {
        padding: 0 20px;
    }

    header#header .navbar .nav > li:last-child > a {
        border: 0;
    }

    #home .carousel-inner .carousel-item-1572 {
        background: #F6F3CA;
    }

    #home .carousel .carousel-caption_content {
        top: auto;
        height: auto;
        font-size: 20px;
        line-height: normal;
    }

    #home .carousel .carousel-caption_content strong {
        margin: 0;
        font-size: 25px;
        line-height: 21px;
    }

    #home .carousel .carousel-caption_content .btn {
        position: relative;
        margin-bottom: 23px;
        margin-top: 0;
    }

    #home .carousel .carousel-indicators {
        bottom: 5px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    #home .carousel .carousel-indicators li {
        width: 12px;
        height: 12px;
        margin: 0 3px;
    }

    #home .teaser3 {
        padding: 23px 0 11px;
    }

    #home .spotlight-1578,
    #home .spotlight-1580 {
        width: 100%;
    }

    #home .spotlight-1578 p,
    #home .spotlight-1580 p {
        margin: 0;
    }

    #home .spotlight-1578 {
        float: right;
        padding: 33px 0 0 0;
        margin-top:0;
        border-right: 1px dashed #000000;
        margin-bottom:0;
    }

    #home .spotlight-1580 {
        float: left;
        padding: 0 0 0 30px;
    }

    #home .teaser3.spotlight-1577 {
        padding: 10px 0 14px;
    }

    #home .teaser3 h3 {
        line-height: normal;
        font-size: 35px;
        margin-bottom: 9px;
        margin-top: -7px;
    }
    .btn, .where-to-buy-button a{
        letter-spacing: 1px;
    }

    #home .teasers {
        width: 882px;
        margin: 0 auto;
        max-width: 100%;
    }

    #home .teaser3.spotlight-1577 h3 {
        font-size: 52px;
        margin-bottom: 5px;
        letter-spacing: 6.4pt;
        margin-top: 0px;
    }

    #home .teaser3 .caption {
        max-width: none;
        margin: 0 15px;
    }

    #home .teaser3 p {
        line-height: 28px;
        font-size: 24px;
        color: #411f20;
    }

    #home article.span6 {
        width: 50%;
        margin-top: 25px;
    }
    
    #home .spotlight-1578 img,
    #home .spotlight-1580 img {
        display: block;
    }

    #home .spotlight-1578 img {
        margin: 27px auto 28px;
    }

    #home .spotlight-1580 img {
        margin: 16px auto 28px;
    }

    #home .spotlight-1586 .pink_ribbon {
        position: relative;
        display: table;
        margin: 0 auto;
    }

    #home .spotlight-1586 .pink_ribbon:before,
    #home .spotlight-1586 .pink_ribbon:after {
        content: '';
        position: absolute;
        top: 0;
        width: 200%;
        height: 100%;
    }

    #home .spotlight-1586 {
        overflow: visible;
        padding: 30px 0 19px;
    }

    #home .spotlight-1586 .pink_ribbon:before {
        left: calc(-200% - 15px);
        background: #f8b5b5 url(/wp-content/uploads/sites/61/2018/03/3pintminibloom-L-1.png) no-repeat;
        background-position: calc(100% - 15px) center;
        margin-right: 4px;
    }

    #home .spotlight-1586 .pink_ribbon:after {
        right: calc(-200% - 15px);
        background: #f8b5b5 url(/wp-content/uploads/sites/61/2018/03/3pintminibloom-R-1.png) no-repeat;
        background-position: 15px center;
        margin-left: 4px;
    }

    .span12,
    .full-width-section {
        width: calc( 100% - 20px);
    }

    #product .single-product-detail-inner {
        text-align: left;
        width: 882px;
        margin: 0 auto;
        float: none;
        background: url(/wp-content/uploads/sites/61/2018/02/pdp-bg.jpg) no-repeat;
        max-width: 100%;
    }

    #product .product-description {
        float: left;
        width: calc(100% - 264px);
        padding: 19px 15px 0 30px;
    }

    .productCategoryIcon {
        margin: 17px 0 24px 0;
    }

    #product .single-product-detail-inner figure img {
        max-height: none;
    }

    .single-product-rating-reviews {
        line-height: 22px;
        padding: 35px 15px 0 292px;
        width: 882px;
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
        font-size: 19px;
        background: url(/wp-content/uploads/sites/61/2018/03/product-left-bg.png) no-repeat 40px center;
    }

    #product .single-product-detail p {
        font-size: 19px;
    }
    #product .single-product-detail-inner .social-icons{
        display: inline-block;
        margin: 18px 0 15px 20px;
    }

    #product .single-product-detail-inner h2 {
        font-size: 35px;
        letter-spacing: 4.4pt;
        max-width: 470px;
    }
    .productCategoryIcon{
        text-align: left;
    }

    .productCategoryIcon li {
        width: 24px;
        margin: 0 9px 0 0;
    }

    .productCategoryIcon li.pdp-icons-divider {
        font-size: 20px;
        margin-left: 0;
        float: left;
        line-height: 25px;
    }
    
    #product .pdp-recipe {
        font-size: 20px;
        line-height: 25px;
        margin: 12px 0 15px;
    }

    #product .where-to-buy-button a {
        margin: 14px 0 9px 0;
    }

    .single-product-detail .buy-wrapper {
        margin-bottom: 23px;
    }

    #product .single-product-detail {
        background: #B9DBF7;
    }

    #product .single-product-detail-inner figure {
        padding: 30px 0px 2px 5px;
        width: 264px;
    }

    .single-product-rating-reviews strong {
        font-size: 24px;
        display: block;
    }

    .product-nutrition,
    .product-contain {
        margin: 43px 0;
    }

    .product-serving table td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .product-vitamin {
        margin: 10px 0;
    }

    #product .disclaimer {
        font-size: 15px;
        padding-top: 5px;
    }

    .nav-tabs-wrapper .nav-tabs {
        margin: 67px 0 0 0;
    }

    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    .nav-tabs-wrapper .nav-tabs > .active > a,
    .nav-tabs-wrapper .nav-tabs > .active > a:hover,
    .nav-tabs-wrapper .nav-tabs > .active > a:focus {
        font-size: 24px;
        padding: 25px 20px 24px;
    }

    .nav-tabs-wrapper .nav-tabs li {
        height: 84px;
    }

    #related-product {
        padding: 130px 0 0;
    }

    #product .teaser7 .thumbnails {
        margin: 0;
    }

    #product .teaser7 .thumbnails li .thumbnail .btn-link {
        font-size: 23px;
        padding: 14px 0 0;
        line-height: normal;
    }

    #product .tab-content,
    #product .nav-tabs-wrapper > h4,
    #product .nav-tabs-wrapper > #BVRRContainer {
        max-width: 100%;
        width: 1170px;
        margin: 0 auto;
        overflow: hidden;
    }

    #product .nav-tabs-wrapper > h4 {
        padding: 0 10px;
    }

    #product .teaser7 .thumbnails li {
        width: 25%;
        margin: 0;
        padding: 0 15px;
    }

    #product .teaser7 .thumbnails li:nth-child(2n + 1) {
        clear: none;
    }

    #product .teaser7 .thumbnails li:nth-child(4n + 1) {
        clear: left;
    }

    #product #olapic_specific_widget {
        margin: 119px 0 28px;
    }

    .faq-cont .faq-ques,
    .faq-cont .faq-info,
    .container_section_heading,
    .container_section_content {
        font-size: 24px;
        line-height: 32px;
        padding: 0 20px 15px;
    }

    .faq-cont .faq-ques,
    .container_section_heading {
        margin-bottom: 12px;
    }

    .faq-cont .faq-info,
    .container_section_content {
        padding-bottom: 33px;
        margin-bottom: 24px;
    }

    .page-template .container h2,
    .page-template-default .container h2,
    .post-template-default .container h2,
    #search_result #main .container article.search-results h2,
    .tax-product-category .container h3,
    .error404 .container h2 {
        padding: 18px 0 0;
        display: block;
        width: 100%;
        line-height: normal;
        font-size: 35px;
        color: #411f20;
        margin: 0 0 24px;
        height: 85px;
    }

    .page-template .container h2:before,
    .page-template-default .container h2:before,
    .post-template-default .container h2:before,
    #search_result #main .container article.search-results h2:before,
    .tax-product-category .container h3:before,
    .error404 .container h2:before {
        background: #f8b5b5 url(/wp-content/uploads/sites/61/2018/03/minibloom-L-1.png) no-repeat;
        background-position: calc(100% - 70px) center;
        content: '';
        width: 50%;
        height: 85px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translateX(-0%);
        -moz-transform: translateX(-0%);
        -o-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        transform: translateX(-0%);
    }

    .page-template .container h2:after,
    .page-template-default .container h2:after,
    .post-template-default .container h2:after,
    #search_result #main .container article.search-results h2:after,
    .tax-product-category .container h3:after,
    .error404 .container h2:after {
        background: #f8b5b5 url(/wp-content/uploads/sites/61/2018/03/minibloom-R-1.png) no-repeat;
        background-position: 70px center;
        content: '';
        width: 50%;
        height: 85px;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        -webkit-transform: translateX(-0%);
        -moz-transform: translateX(-0%);
        -o-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        transform: translateX(-0%);
        z-index: -1;
    }

    .page-id-122 .faq-cont_container {
        background: url(/wp-content/uploads/sites/61/2018/03/faq.jpg) center 28px repeat-y;
        padding-bottom: 80px;
        position: relative;
    }
    /* .page-id-122 .faq-cont_container:before,
    .page-id-122 .faq-cont_container:after{
        content:"";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        left:0;
    }
    .page-id-122 .faq-cont_container:before{
        top:0;
        background: url(/wp-content/uploads/sites/61/2018/03/faq-before.jpg) center 28px no-repeat;
    }
    .page-id-122 .faq-cont_container:after{
        bottom:0;
        background: url(/wp-content/uploads/sites/61/2018/03/faq-after.jpg) center bottom no-repeat;
    } */

    .faq-cont .faq-info.last-child,
    .container_section_content.last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    div#whats-inside {
        position: relative;
        z-index: 1;
    }

    #article.postid-84 #main .container .promo-banner .promo-text {
        font-size: 40px;
        line-height: 34px;
        top: 4.5%;
        padding-left: 5px;
        letter-spacing: 5pt;
    }

    #article.postid-84 #main .container .span12 figure.pull-right {
        margin-bottom: 35px;
    }

    div#whats-inside .section {
        padding: 0 100px;
    }
    div#whats-inside .section#section-1{
        margin-top: 25px;
    }

    div#whats-inside h3 {
        font-size: 35px;
        line-height: 37px;
        margin: 16px auto 18px;
        letter-spacing: 4.4pt;
    }

    div#whats-inside #block-4 h3 + p {
        margin-bottom: 24px;
    }

    div#whats-inside .copy,
    div#whats-inside .copy p {
        line-height: 28px;
        font-size: 24px;
    }

    #article.postid-84 #whats-inside:after {
        background: url(/wp-content/uploads/sites/61/2018/03/atricle-lemon-mint-js.png);
        content: '';
        width: 100%;
        height: 196px;
        position: absolute;
        display: block;
        background-repeat: no-repeat;
        bottom: 0;
        z-index: -1;
        background-position: center top;
        background-size: auto;
    }

    #article.postid-84 #whats-inside:before {
        background: url(/wp-content/uploads/sites/61/2018/03/atricle-mango-chocolate-JS.png);
        content: '';
        width: 100%;
        height: 357px;
        position: absolute;
        display: block;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: auto;
        margin-top: 3px;
        z-index: -1;
    }

    #contact-us legend,
    #sign-up legend {
        padding: 28px 0 0;
        font-size: 35px;
        margin: 0 0 20px;
        text-align:center;
        letter-spacing: 4.4pt;
    }

    #sign-up .contact-form,
    #contact-us .contact-form {
        padding: 0 15px;
    }

    .contact-form fieldset .control-group:nth-child(even) {
        margin-left: -15px;
    }

    .contact-form fieldset .control-group:nth-child(odd) {
        margin-right: -15px;
        float: right;
    }

    .contact-form fieldset .control-group.full-width:nth-child(odd),
    .contact-form fieldset .control-group.full-width:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .contact-form .control-label {
        text-align: left;
        margin-bottom: 7px;
    }

    .contact-form fieldset .control-group {
        margin: 0;
        display: block;
        width: calc(50% + 15px);
        float: left;
        padding: 0 15px;
    }

    #sign-up.page-template .container h2,
    #contact-us.page-template .container h2 {
        margin: 0 0 21px;
    }

    .contact-form .form-horizontal .help-block {
        margin: 20px 10px 10px;
    }

    #contact-us .contact-form .form-horizontal .help-block {
        margin: 20px 10px 28px;
    }

    .contact-form fieldset .control-group .select-group {
        margin: 0 -15px;
        width: calc(100% + 30px);
    }

    .contact-form fieldset .control-group .select-group-field {
        margin-bottom: 0;
        width: 33.33%;
        padding: 0 15px;
    }

    .contact-form fieldset .control-group .select-group .label-important {
        padding-left: 15px;
    }

    .contact-form .control-group .controls {
        min-height: 76px;
    }

    .form-horizontal .g-recaptcha > div {
        margin: 9px auto 7px;
    }

    form#contactform,
    #signup-form {
        padding: 11px 0 0 0;
    }
    
    #sign-up .required_text,
    #contact-us .required_text {
        display: inline-block;
    }

    .contact-form .btn.submit {
        margin: 21px auto 30px;
        font-size: 20px !important;
        padding: 15px 15px 14px;
    }

    .label-important, .badge-important {
        font-size: 16px;
        padding: 5px 0 0;
    }

    #contact-us p,
    #sign-up p {
        padding: 0;
        line-height: 28px;
        font-size: 24px;
    }

    #contact-us p{
        margin-bottom: 22px;
    }
    #sign-up #main .span9,
    #contact-us #main .span9,
    .tax-product-category #main .span9,
    #search_result #main .span9 {
        width: calc(100% - 20px);
    }

    form#contactform {
        display: block;
    }

    .contact-form .control-label,
    .contact-form fieldset input,
    .controls label.radio,
    .controls > .radio:first-child,
    .contact-form #Comments,
    .contact-form select {
        font-size: 20px;
    }

    .help-block + label + label,
    .help-block + label, label[for='newsletter'],
    label[for='subscriptionnewsletter'],
    .form-horizontal .help-block,
    .form-horizontal .help-block a {
        font-size: 24px;
        line-height: 26px;
    }

    .contact-form .control-group .controls {
        min-height: 76px;
    }

    .contact-form fieldset input,
    .contact-form select {
        height: 53px;
        padding: 0 20px;
    }

    .form-horizontal .g-recaptcha > div > div {
        transform: scale(1);
    }

    .contact-form select {
        background-size: auto;
        background-position: calc(100% - 2px) 18px;
    }

    .contact-form #Comments,
    .contact-form fieldset input,
    .contact-form select {
        border: 4px solid #411f20;
    }

    #contact-us.page-template .container h2:before {
        background-color: #b9dbf7;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-mint-left-1.png);
        background-position: calc(100% - 145px) center;
    }

    #contact-us.page-template .container h2:after {
        background-color: #b9dbf7;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-mint-r-1.png);
        background-position: 141px center;
    }

    .postid-1663 .container h2:before {
        background-color: #c3e1c3;
        background-position: calc(100% - 221px) center;
    }

    .postid-1663 .container h2:after {
        background-color: #c3e1c3;
        background-position: 225px center;
    }

    .page-id-398 .container h2:before{
        background-position: calc(100% - 282px) center;
    }

    .page-id-398 .container h2:after{
        background-position: 282px center;
    }

    .page-id-400 .container h2:before {
        background-position: calc(100% - 134px) center;
    }

    .page-id-400 .container h2:after {
        background-position: 134px center;
    }

    .page-template-signup .container h2:before {
        background-position: calc(100% - 243px) center;
    }

    .page-template-signup .container h2:after {
        background-position: 238px center;
    }

    #product.tax-product-category .container h3:before {
        background-color: #faf7d8;
        background-image: url(/wp-content/uploads/sites/61/2018/03/lemonminibloom-L-1.png);
        background-position: calc(100% - 165px) center;
    }

    #product.tax-product-category .container h3:after {
        background-color: #faf7d8;
        background-image: url(/wp-content/uploads/sites/61/2018/03/lemonminibloom-R-1.png);
        background-position: 161px center;
        background-size: auto;
        -webkit-transform: translateX(-0%);
        -moz-transform: translateX(-0%);
        -o-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        transform: translateX(-0%);
    }
    #product.tax-product-category.term-34 .container h3:before {
        background-position: calc(100% - 249px) center;        
    }
    #product.tax-product-category.term-34 .container h3:after {
        background-position: 247px center;        
    }

    #product.tax-product-category.term-16 .container h3:before {
        background-position: calc(100% - 155px) center;        
    }
    #product.tax-product-category.term-16 .container h3:after {
        background-position: 151px center;        
    }

    #product.tax-product-category.term-38 .container h3:before {
        background-position: calc(100% - 280px) center;
    }
    #product.tax-product-category.term-38 .container h3:after {
        background-position: 276px center;
    }

    #product.tax-product-category.term-30 .container h3:before {
        background-position: calc(100% - 114px) center;
    }
    #product.tax-product-category.term-30 .container h3:after {
        background-position: 110px center;
    }

    #product.tax-product-category.term-266 .container h3:before {
        background-position: calc(100% - 95px) center;
    }
    #product.tax-product-category.term-266 .container h3:after {
        background-position: 91px center;
    }

    #product.tax-product-category.term-372 .container h3:before {
        background-position: calc(100% - 187px) center;
    }
    #product.tax-product-category.term-372 .container h3:after {
        background-position: 186px center;
    }

    #product.tax-product-category .full-width-section .teaser7 {
        max-width: 100%;
        width: 1170px;
        margin: 0 auto;
        overflow: hidden;
    }

    #product.tax-product-category .teaser7 .thumbnails {
        margin-top: 30px;
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }

    #product.tax-product-category .teaser7 li.span2 figure img,
    #search_result .thumbnail figure img {
        max-width: 190px;
    }

    #product.tax-product-category .teaser7 .thumbnails li .thumbnail .btn-link {
        font-size: 21px;
        margin-top: 11px;
        line-height: normal;
        letter-spacing: 0;
        padding: 0;
    }

    #product.tax-product-category .teaser7 .thumbnails li {
        margin-bottom: 42px;
    }

    #search_result #main .container article.search-results h2:before {
        background-position: calc(100% - 185px) center;
    }

    #search_result #main .container article.search-results h2:after {
        background-position: 183px center;
    }

    #search_result #main .container article.search-results h2 {
        margin: 0 0 21px;
    }

    #search_result #main .container article.search-results h2 + p {
        margin-bottom: 15px;
        font-size: 30px;
    }

    #search_result #main .container article.search-results h3 {
        margin-bottom: 13px;
        font-size: 24px;
        letter-spacing: 0;
    }

    #search_result .thumbnails {
        margin-top: 29px;
        border: 0;
        padding: 0 15px;
    }

    #search_result .thumbnails li {
        width: 33.33%;
        float: left;
        margin: 0;
        border: 1px solid #411f20;
        padding: 30px 0 0 0;
    }

    #search_result .thumbnails li:not(:nth-child(1)):not(:nth-child(3n+4)) {
        border-left: 0;
    }

    #search_result .thumbnails li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
        border-top: 0;
    }

    #search_result .thumbnails .btn-link {
        padding: 24px 5px 25px;
        font-size: 23px;
        min-height: 155px;
    }

    #search_result .article-item .thumbnails .btn-link {
        min-height: 111px;
        margin-top: 0;
        padding-top: 24px;
    }

    #search_result .search-list a.pull-right {
        margin: 29px auto 24px;
    }

    #search_result article.search-results .search-list {
        margin-bottom: 30px;
    }

    #search_result #main .container article.search-results .search-list h2 {
        height: auto;
        line-height: 40px;
        margin-bottom: 12px;
        font-size: 24px;
    }

    .pagination {
        margin: 30px 0;
        max-height: 30px;
    }

    #search_result .thumbnails .span3 figure {
        height: 241px;
    }

    .error404.site-map .container h2:before {
        background-position: calc(100% - 143px) center;
    }

    .error404.site-map .container h2:after {
        background-position: 143px center;
    }

    .page-id-135 .container h2:before {
        background-color: #c3e1c3;
        background-position: calc(100% - 166px) center;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-chococarm-L-1.png);
    }

    .page-id-135 .container h2:after {
        background-color: #c3e1c3;
        background-position: 165px center;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-chococarm-right-1.png);
    }

    .site-map .inner-container {
        text-align: left;
    }

    .site-map .inner-container .span3 {
        width: calc(33.33% - 20px);
    }

    .site-map .container h2:before {
        background-color: #c3e1c3;
        background-position: calc(100% - 111px) center;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-ccc-left-1.png);
    }

    .site-map .container h2:after {
        background-size: auto;
        background-color: #c3e1c3;
        background-position: 111px center;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-ccc-right-1.png);
    }
    .site-map ul ul{
        margin-left: 15px;
    }
    .site-map-wrapper li{
        line-height: 10px;
        margin: 0;
    }    

    .site-map-wrapper li a {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .site-map-wrapper ul.sub-menu {
        margin-bottom: 10px;
    }

    .postid-1412 .container h2:before {
        background-color: #b9dbf7;
        background-position: calc(100% - 230px) center;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-3brand-3-l-1.png);
    }

    .postid-1412 .container h2:after {
        background-size: auto;
        background-color: #b9dbf7;
        background-position: 226px center;
        background-image: url(/wp-content/uploads/sites/61/2018/03/minibloms-3brand-2-r-1.png);
    }

    .postid-1412 .single-article-detail-inner {
        max-width: 100%;
        width: 1170px;
        margin: 0 auto;
        overflow: hidden;
        float: none;
    }

    .postid-1412 .single-article-detail-inner .olapic_wrapper {
        margin: 0 auto;
        float: none;
        padding: 0;
        width: 100%;
    }

    .site-map .site-map-wrapper {
        width: 31%;
        margin: 0;
        padding-left: 30px;
        margin-right: 20px;
        box-sizing: border-box;
    }

    .site-map .site-map-wrapper:nth-child(2),
    .site-map .site-map-wrapper:nth-child(3) {
        border-left: 1px dashed #411f20;
    }
    

    /* Start Amount per serving css */
    .single-product-rating-reviews .product-serving,
    #product .product-vitamin,
    #product .disclaimer{
        font-size: 12px;
        line-height:13px;
    }
    #product .product-vitamin{
        margin: 10px 0 7px;
    }
    #product .product-nutrition{
        margin-bottom: 15px;
    }
    .single-product-rating-reviews .product-serving strong{
        font-size: 12px;
        display: block;
    }
    .single-product-rating-reviews .product-serving p{
        margin-bottom:0;
    }
    #product .product-serving table td{
        padding: 0 7px;
    }
    #product .product-serving table td{
        padding-top:2px;
        padding-bottom:0;
    }
    #product .product-serving table{
        max-width: 310px;
        margin:0 -7px 0;
    }
    #product .product-serving table td.nutrition-daily-value{
        padding-left: 15px;
    }
    /* End Amount per serving css */
}

/* iPad Landscape CSS */
@media screen and (min-width: 992px) {
    #article.postid-84 #main .container .promo-banner .promo-text {        
        font-size: 55px;
        line-height: 48px;
    }
}

/* Desktop CSS */

@media screen and (min-width: 1200px) {
    body:not(#home):not(#product):not(.postid-84) #main .container {
        padding: 0;
    }

    header#header .menuWrapper {
        left: 0;
    }

    header#header .navbar-inner .form-search {
        right: 0;
    }
    
    #home .carousel-caption img{
        max-width: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .site-map-wrapper h3,
    .site-map-wrapper h3 a {
        font-size: 42px;
        margin-bottom: 21px;
        letter-spacing: 1.6px;
    }
    

    #product.tax-product-category .teaser7 .thumbnails li {
        margin-bottom: 22px;
    }

    #home .carousel .carousel-caption_content .btn {
        margin-bottom: 57px;
        margin-top: 16px;
    }

    #main > .container .span10 {
        width: calc(100% - 30px);
    }

    #home .carousel .carousel-indicators {
        bottom: 30px;
    }

    #home .teaser3 h3 {
        letter-spacing: 3pt;
    }
    
    .btn, .where-to-buy-button a{
        letter-spacing: 2pt;
    }
    #home .carousel .carousel-caption_content {
        font-size: 19px;
    }

    #home .carousel .carousel-caption_content strong {
        font-size: 35px;
        line-height: 31px;
        letter-spacing: 6.2pt;
        margin-bottom: 2px;
    }

    #home .teaser3 .caption {
        margin: 0;
    }

    #home .spotlight-1578 {
        width: 404px;
    }

    #home .spotlight-1578,
    #home .spotlight-1580 {
        width: 100%;
    }

    .span12,
    .full-width-section {
        width: calc( 100% - 30px);
    }

    #product .teaser7 .thumbnails {
        margin: 0 -15px;
    }

    .single-product-rating-reviews,
    #product .product-description {
        padding-right: 0;
    }

    #product .single-product-detail-inner figure {
        padding-left: 0;
    }

    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    .nav-tabs-wrapper .nav-tabs > .active > a,
    .nav-tabs-wrapper .nav-tabs > .active > a:hover,
    .nav-tabs-wrapper .nav-tabs > .active > a:focus {
        font-size: 24px;
        padding: 25px 20px 24px;
    }

    #sign-up .contact-form,
    #contact-us .contact-form {
        padding: 0;
    }

    .faq-cont .faq-ques,
    .faq-cont .faq-info,
    .container_section_heading,
    .container_section_content {
        padding: 0 0 15px;
    }

    #sign-up #main .span9,
    #contact-us #main .span9,
    .tax-product-category #main .span9,
    #search_result #main .span9 {
        width: calc(100% - 30px);
    }

    #sign-up #main .span9 .contact-form,
    #contact-us #main .span9 .contact-form {
        max-width: 882px;
        margin: 0 auto;
    }

    #article.postid-84 #main .container .promo-banner .promo-text {
        font-size: 65px;
        line-height: 59px;        
        letter-spacing: 9pt;
    }
    #article.postid-84 #main .container .promo-banner img{        
        max-width: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .contact-form select {
        background-position: calc(100% - 15px) 18px;
    }
    
    #sign-up .contact-form,
    #contact-us .contact-form {
        padding: 0;
    }

    #search_result .thumbnails {
        padding: 0;
    }

    #search_result .thumbnails .btn-link {
        min-height: 151px;
    }

    .site-map .inner-container .span3 {
        width: calc(33.33% - 30px);
    }

    .site-map .inner-container {
        width: 1170px;
        max-width: 100%;
        text-align: left;
        margin: 0 auto;
        display: table;
        padding: 0 0 33px 30px;
    }

    .postid-1412 .single-article-detail-inner {
        padding: 0;
    }

    #product .nav-tabs-wrapper > h4 {
        padding: 0;
    }
}

@media screen and (min-width: 1366px) {    
    #article.postid-84 #main .container .promo-banner img{        
        max-width: none;
        position: relative;
        left: 0;
        transform: translateX(0);
    }
}

@media screen and (min-width: 1367px) { 
    #home .carousel-caption img{
        max-width: 100%;
        position: relative;
        left: 0;
        transform: translateX(0);
    }
}